@charset "UTF-8";

html{
	font-family: 'Noto Sans KR Light', sans-serif;
}
    .preview-popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.preview-popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  width: 80vh;
  height: 50vh;
}
.insert-popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.insert-popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  width: 80vh;
  height: 50vh;
}
.close-Button-div{
	display: flex;
    justify-content: end;
}
.close-Button-div>button{
	background-color: transparent;
	border: 1px solid #C2C2C2;
	cursor:pointer;
	margin-bottom: 2vh;
}

#input_button_container_dayButton{
	border: none;
    border-radius: 3px;
    width: 3vw;
    height: 3vh;
    margin-right: 0.3vw;
    margin-bottom: 0.5vh;
    cursor: pointer;
}
#input_button_container_allDayButton{
	border: none;
    border-radius: 3px;
    width: 3vw;
    height: 3vh;
    margin-right: 0.3vw;
    margin-bottom: 0.5vh;
    cursor: pointer;
	
}
#planName{
	float:right;
	width:9vw;
	height:2vh;
	margin-right: 0.2vw;
    margin-top: 0.3vh;
    padding: 2px;
    padding-left: 9px;
}
#courseInsertButton{
	float:right;
	margin-top: 0.25vh;
    height: 3vh;
    border: none;
    border-radius:3px;
    background-color: #B8E9FF;
    cursor: pointer;
}
  #map_div {
    position: relative;
    
  }
  
  #category-button {
    position: absolute;
    top: 22%;
    left: 27%;
    z-index: 999;
  }
  #category-button > button{
    background-color: rgba(255, 255, 255, 0.5);
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    
  }
  #category-button > .button-selected{
  	background-color: #B8E9FF;
  }
  .insert-day-button-div{
	width:70%;
	float:left;
}
  .insert-day-button-div > .insert-day-button-selected{
  	background-color: #B8E9FF;
  }
  
  .preview-day-button-div > .preview-day-button-selected{
  	background-color: #B8E9FF;
  }
  #restaurant-btn{
  	border-radius: 3px;
    padding: 5px;
    padding-left: 20px; 
    padding-right: 20px; 
    height:3.5vh;
  }
  #youtube-btn{
  	border-radius: 3px;
    padding: 5px;
    padding-left: 10px; 
    padding-right: 10px; 
       height:3.5vh;
  }
  #tourist-btn{
  	border-radius: 3px;
    padding: 5px;
    padding-left: 20px; 
    padding-right: 20px; 
       height:3.5vh;
  }
  #hill-btn{
  	border-radius: 3px;
    padding: 5px;
    padding-left: 25px; 
    padding-right: 25px; 
       height:3.5vh;
  }
  #ollegil-btn{
  	border-radius: 3px;
    padding: 5px;
    padding-left: 20px; 
    padding-right: 20px;
       height:3.5vh; 
  }

  #weather{
  	position: absolute;
    top: 85%;
    left: 45%;
    z-index: 999;
    display: flex;
    font-size: 10px;
    color: white;
  }
  #wether-current{
  	display: flex;
  }
  #wether-current > h5{
  	margin-right: 7vw;
  }
  #wether-current > h2{
  	margin-top: 0;
  	margin-right: 3vw;
  }
  #wether-state{
  	display:flex;
  }
  #wether-temp{
  	display: flex;
  }
  #wether-temp > h5{
  	margin-right: 1vw;
  	margin-top: 4vh;
  }
  
  #weatherImg{
  	width: 4vw;
  	height: 5vh;
  }
.header {
	width: 90vw;
	border-bottom: 1px solid #EEEEEE;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5vh;
	font-size:62.5%;
	display:grid;
	grid-template-rows: 13vh;
	font-weight:500;
	text-shadow:  -0.1px 0.1px 0 #000, 0.1px 0.1px 0 #000;
}
.header a{
	color: inherit;
	text-decoration: none;
}

.header-category {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:1.8em;
}
.header-left{
	flex:2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-center{
	flex:3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-right{
	flex:2;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logimg {
	width: 280px;
	height: 160px;
	padding-right:1vw;
}

#label-left-plan {
	margin: auto;
}

#label-left-course {
	margin: auto;
}

#label-left-community {
	margin: auto;
}

#label-left-chat {
	margin: auto;
}

#label-right-login {
	padding-left: 1vw;
	padding-right: 1vw;
	margin-left: 3vw;
}

#label-right-register {
	margin-left: 3vw;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 98vw;
	height: 78vh;
}

.main-left {
	width: 25vw;
	height: 80vh;
	
}

.main-left h2 {
	font-family: 'Noto Sans KR Light', sans-serif;
	text-align: center;
	color: #595959;
	margin-top: 0vw;
}


.main-center {
	width: 50vw;
	height: 80vh;
}

.main-right {
	width: 25vw;
	height: 80vh;
}
.search-div{
	margin-bottom:1vh;
	margin-left:2.1vw;
	display:flex;
	align-items: center;
	padding-left: 20px;
	padding-right:20px;
}
#search{
	width:17.1vw;
	height:2.7vh;
	padding:3px;
	padding-left:6px;
}
#search-button{
	width: 2vw;
	height: 3vh;
	cursor:pointer;
	border:none;
	background-color:transparent;
}
#search-button>img{
	width:100%;
	height:100%;
	
}
.list-scroll{
	width: 20vw;
	height: 70vh;
	overflow: auto;
    margin: 0 auto;
    
}
.list-scroll::-webkit-scrollbar{
	display: none;
}
#pagination{
	width: 100%;
    text-align: center;
    margin-top: 2vh;
}
#pagination>a{
	text-decoration: none;
	padding:10px;
	color:black;
	
}
#pagination>.pagination-active{
	color:#B8E9FF;
	font-weight: bold;
}
.list {
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	/* border: 0.1vw solid #B8E9FF;
	border-radius: 0.3vw; */
	width: 18vw;
	height: 12vh;
	margin-left: auto;
	margin-right: auto;
}
.list > div{
	display: flex;
}
#list-img{
	display:flex;
	justify-content: center;
	align-items: center;
}
#list-img>img {
	width: 6vw;
	height: 9vh;
	border: 0.1vw solid;
	border-radius: 0.5vw;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
}

#list-name {
	width: 30vw;
	height: 10vh;
	margin-left: 1vw;
	margin-top: 3vh;
	font-size: 13px;
	font-family: 'Noto Sans KR Light', sans-serif;
	text-align: left;
	color: #595959;
}
#list-minus>img{
	width: 1vw;
	height: 2vh;
	margin-top: 8vh;
	margin-left: 1vw;
	margin-right: 1vw;
	cursor:pointer;
	
}
#list-name-heartimg {
	display: flex;
	width: 5vw;
	height: 3vh;
	margin-top: 1vh;
	margin-left: 0vw;
}

#heart {
	width: 1vw;
	height: 2vh;
	margin-right: 0.5vw;
}

#list-plus>img {
	width: 1vw;
	height: 2vh;
	margin-top: 8vh;
	margin-left: 1vw;
	margin-right: 1vw;
	cursor:pointer;
}

.course {
	width: 80%;
	height: 37vh;
	margin: 0px;
	padding: 20px;
	margin: 0 auto;
	border: 2px solid #B8E9FF;
	border-radius: 5px;
	margin-bottom: 1vh;
}

.course-color {
	width: 19vw;
	height: 10vh;
	border: 0.1vw solid #B8E9FF;
	border-radius: 0.5vw;
	border-bottom-left-radius: 0vw;
	border-bottom-right-radius: 0vw;
	margin: 0vw;
	margin: 0 auto;
}

.course-color h5 {
	margin-top: 0.2vw;
}

.course-plan {
	width: 19vw;
	height: 33vh;
}

.course-plan>img {
	width: 10vw;
	height: 2vh;
	margin-top: 8vh;
	margin-left: 1vh;
	margin-right: 1vh;
}
.course-list{
	margin-top:1vh;
	overflow:auto;
	height:28vh;
}

.course-color-check {
	width: 100%;
	height: 3vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position:relative;
	right:2vw;
}

.course-color-day {
	display: flex;
	align-items: center;
	width: 100%;
	height: 3vh;
	margin-left: 1.5vh;
}

.course-color-day h5 {
	text-align: left;
}

.course-color-check i {
	margin-left: 0.5vh;
	margin-right: 0.5vh;
}
.course-day{
	display: flex;
}
.daybutton{
	margin-left: 8vw; 
}
#previousDayButton{
	width:4vw;
	border-radius:3px;
	border:none;
	background-color:#EEEEEE;
	height:2.5vh;
	cursor:pointer;
}
#nextDayButton{
	width:4vw;
	border-radius:3px;
	border:none;
	background-color:#EEEEEE;
	height:2.5vh;
	margin-left: 11vw;
	cursor:pointer;
}
#insertButton{
	margin-left: 0.3vw;
	width:4vw;
	border-radius:3px;
	border:none;
	background-color:#EEEEEE;
	height:2.5vh;
	cursor:pointer;
}
#previewButton{
	width:4vw;
	border-radius:3px;
	border:none;
	background-color:#EEEEEE;
	height:2.5vh;
	cursor:pointer;
}
#left_block{
	display:flex;
	position:relative;
	border: 0.1vw solid #B8E9FF;
    border-radius: 0.3vw;
    height: 11vh;
    margin-bottom: 1vh;
}
.circle1 {
	background-color: red;
}

.circle2 {
	background-color: orange;
}

.circle3 {
	background-color: yellow;
}

.circle4 {
	background-color: green;
}

.circle5 {
	background-color: blue;
}

.circle6 {
	background-color: navy;
}

.circle7 {
	background-color: purple;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.circle7 {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  top: 4px;
  cursor: pointer;
}

.circle1::after,
.circle2::after,
.circle3::after,
.circle4::after,
.circle5::after,
.circle6::after,
.circle7::after {
  content: '\2714';
  font-size: 24px;
  color: #333;
  position: absolute;
  top: -14px;
  left: 0;
  opacity: 0;
  transition: 0.2s;
}

/* 체크박스 숨김 */
input[type="checkbox"] {
  position: absolute;
  left: -999em;
}
h5 {
	margin: 0px;
}

@import
	url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

.calendar {
	position: relative;
	background-color: white;
	width: 80%;
	height: 30vh;
	margin: 0px;
	padding: 20px;
	margin: 0 auto;
	border: 2px solid #B8E9FF;
	border-radius: 5px;
	margin-bottom: 1vh;
	/* box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3); */
}
#applyButton{
	position: absolute;
	top: 31vh;
  	left: 15vw;
  	border : 0px;
  	border-radius: 3px;
  	background-color: #EEEEEE;
  	/* font-size:7px; */
  	padding: 3px;
  	padding-left: 12px;
  	padding-right: 12px;
  	cursor:pointer;
}
td {
	width: 3.5vh;
	height: 3.5vh;
}

.Calendar-table {
	text-align: center;
	margin: auto;
}

.Calendar-table>thead>tr:first-child>td {
	font-family: 'Questrial', sans-serif;
	font-size: 0.5em;
	font-weight: bold;
}

.Calendar-table>thead>tr:last-child>td {
	font-family: 'Questrial', sans-serif;
	font-size: 0.5em;
	font-weight: 600;
}

.Calendar-table>tbody>tr>td>p {
	font-family: 'Montserrat', sans-serif;
	height: 5vh;
	width: 5vh;
	border-radius: 45px;
	transition-duration: .2s;
	line-height: 5vh;
	margin: 1px;
	display: block;
	text-align: center;
}

.pastDay {
	color: lightgray;
	font-size: 0.5em;
}

.today {
	background-color: #EEEEEE;
	color: black;
	font-size: 0.5em;
	font-weight: 600;
	cursor: pointer;
}

.futureDay {
	background-color: #FFFFFF;
	font-size: 0.5em;
	cursor: pointer;
}

.futureDay:hover {
	background: #eee;
}

.futureDay.choiceDay, .today.choiceDay {
	background: #B8E9FF;
	color: #fff;
	font-weight: 600;
	font-size: 0.5em;
	cursor: pointer;
}
.course-color-day h5:not(.active) {
  display: none;
}

#chart_set{
        display: flex;	
        padding-left: 0.4vw;	
        margin-bottom : 2vh;
        			margin-right: 0.7vw;
}
#chart_title{
		margin-top : 3vh;
		margin-bottom : 1vh;
	  	font-size: 0.8em;	
	  	vertical-align: middle;	
}
#chart{
	display: inline-block;
	height: auto;
	width: 8vw;
		margin-right: 0.5vw;
}
#chart2{
	padding-top: 4vh;
	display: inline-block;
	height: auto;
	width: 12.5vw;
}
    .ocr_popup-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .ocr_popup {
        background-color: white;
        padding: 3vw;
        border-radius: 5px;
        position: relative;
        width: 20vw;
        height: 65vh;
    }

    .ocr_popup-close {
        cursor: pointer;
        position: absolute;
   	 	top: 2vh; 
    	right: 1vw;
    }
    #preview{
        width: 20vw;
        height: 52vh;
        background-color: rgba(200, 200, 200, 0.2);
    }
#ocr_notice {
    color: rgba(220,0, 0);
        margin-bottom : 2vh;
}
#file_button{
	margin-bottom : 2vh;
}
#ocr_title{
	font-size: 1.5vw;
	font-weight: 600;
    margin-bottom : 1vh;
}
    
.placemenu {
  display: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  
	border: 2px solid #B8E9FF;
	border-radius: 5px;
	margin-bottom: 1vh;
  box-sizing: border-box;
	width: 23vw;
	height: auto;
	max-height: 90vh;
	margin-right: 1vw;
	margin-left: 1vw;
		overflow-y: auto;
			overflow-x: hidden;
}
#placemenu_top{
	padding-right: 2vw;
	padding-left: 2vw;	
}
#datatest{
	width: 19vw;
	padding-right: 2vw;
	padding-left: 2vw;
	margin-bottom: 0.8vh;
}
#placeImage{
	margin: 0;
	width: 15vw;
	display: flex;
    justify-content: center;
}
#datatest1{
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 0.7vh;
}
#datatest4,
#placemenu_heart {
  display: inline-block;
  vertical-align: middle;
}
#heartimg2{
	width: 1.5vw;
  vertical-align: middle;
  	margin-right: 0.3vw;
}
#datatest4{
	font-size: 0.8em;
	  vertical-align: middle;
	margin-right: 1.2vw;
}
#placemenu_heart a{
  vertical-align: middle;
  	font-size: 0.8em;
  	  text-decoration: none;
	color: black;
}
#ocr_button{
	margin-bottom : 0.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hr_css{
    background: #B8E9FF;
    height: 1px;
    border: 0;
}

#placemenu_button{
		display: flex;
    justify-content: flex-end;
    cursor:pointer;
}
#placemenu_button button{
	background-color: transparent;
	margin-bottom : 1vh;
	border: 1px solid #C2C2C2;
}
#placemenu_pin{
	margin-top : 2vh;
	display: flex;
	align-items: center;
}
#placemenu_number{
	margin-top : 1vh;
	display: flex;
	align-items: center;	
}
#datatest2{
	  	font-size: 0.8em;
	  	display: inline-block;

}
#pin_img{
	display: inline-block;
	margin-right: 0.5vw;
  	width: 1.5vw;
	  	vertical-align: middle;
}
#datatest3{
	  	font-size: 0.8em;
	  	display: inline-block;
	  	vertical-align: middle;
}
#datatest5{
	  	font-size: 0.8em;
	  		  	vertical-align: middle;
}
#datatest6{
	display: inline-block;
	  	font-size: 0.8em;
	  		  	vertical-align: middle;
}
#datatest7{
	display: inline-block;
	  	font-size: 0.8em;
	  		  	vertical-align: middle;
}
#datatest8{
	display: inline-block;
	  	font-size: 0.8em;
	  		  	vertical-align: middle;
}
#data_tag{
		  	vertical-align: middle;
}
#plan_text{
	        width: 95%;
        height: 90%;
}