@charset "UTF-8";
.header {
	width: 90vw;
	height: 13vh;
	border-bottom: 1px solid #EEEEEE;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5vh;
	/* display: flex;
            justify-content: center; */
}

.header-category {
	display: flex;
	justify-content: center;
	align-items: center;
}

#logimg {
	width: 15vw;
	height: 12vh;
	margin-left: 7vw;
	margin-right: 14vw;
}

.header-category>label {
	/* border: 1px solid;
            border-radius: 5px; */
	color: #595959;
	font-family: 'Noto Sans KR Regular', sans-serif;
	padding: 7px;
	padding-top: 0.2vh;
	padding-bottom: 0.2vh;
	cursor: pointer;
}

#label-left-course {
	margin-right: 3vw;
}

#label-left-community {
	margin-right: 3vw;
}

#label-left-chat {
	margin-right: 3vw;
	padding-left: 1vw;
	padding-right: 1vw;
}

#label-right-login {
	padding-left: 1vw;
	padding-right: 1vw;
	margin-left: 3vw;
}

#label-right-register {
	margin-left: 3vw;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 98vw;
	height: 78vh;
}

.main-left {
	width: 20vw;
	height: 80vh;
}

.main-left h2 {
	font-family: 'Noto Sans KR Light', sans-serif;
	text-align: center;
	color: #595959;
	margin-top: 0vw;
}

.main-center {
	width: 60vw;
	height: 80vh;
}

.main-right {
	width: 20vw;
	height: 80vh;
}

.list {
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	border: 0.1vw solid #B8E9FF;
	border-radius: 0.3vw;
	width: 18vw;
	height: 12vh;
	margin-left: auto;
	margin-right: auto;
}
.list > div{
	display: flex;
}
#list-img>img {
	width: 7vw;
	height: 10vh;
	border: 0.1vw solid;
	border-radius: 0.5vw;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	margin-top: 0.5vh;
}

#list-name {
	width: 30vw;
	height: 10vh;
	margin-left: 1vw;
	margin-top: 5vh;
	font-size: 12px;
	font-family: 'Noto Sans KR Light', sans-serif;
	text-align: left;
	color: #595959;
}

#list-name-heartimg {
	display: flex;
	width: 5vw;
	height: 3vh;
	margin-top: 1vh;
	margin-left: 0vw;
}

#heartimg {
	width: 1vw;
	height: 2vh;
	margin-right: 0.5vw;
}

#list-plus>img {
	width: 1vw;
	height: 2vh;
	margin-top: 8vh;
	margin-left: 1vw;
	margin-right: 1vw;
}

.course {
	width: 20vw;
	height: 44vh;
}

.course-color {
	width: 19vw;
	height: 10vh;
	border: 0.1vw solid #B8E9FF;
	border-radius: 0.5vw;
	border-bottom-left-radius: 0vw;
	border-bottom-right-radius: 0vw;
	margin: 0vw;
	margin: 0 auto;
}

.course-color h5 {
	margin-top: 0.2vw;
}

.course-plan {
	width: 19vw;
	height: 33vh;
	border: 0.1vw solid #B8E9FF;
	border-top: 0vw;
	border-radius: 0.5vw;
	border-top-left-radius: 0vw;
	border-top-right-radius: 0vw;
	margin: 0vw;
	margin: 0 auto;
}

.course-plan>img {
	width: 10vw;
	height: 2vh;
	margin-top: 8vh;
	margin-left: 1vh;
	margin-right: 1vh;
}

.course-color-check {
	width: 100%;
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.course-color-day {
	display: flex;
	align-items: center;
	width: 90%;
	height: 3vh;
	margin-left: 1.5vh;
}

.course-color-day h5 {
	text-align: left;
}

.course-color-check i {
	margin-left: 0.5vh;
	margin-right: 0.5vh;
}

.circle1 {
	display: inline-block;
	/* 영역적용가능해짐 */
	width: 20px;
	height: 20px;
	border: 1px solid #333;
	box-sizing: border-box;
	border-radius: 10px;
	/* 모서리둥글게 처리 */
	position: relative;
	top: 4px;
	cursor: pointer;
	/* 마우스 올렸을때 손모양 처리 */
}

.circle1:after {
	content: '\2714';
	/* 체크박스 특수문자 */
	font-size: 24px;
	color: #333;
	position: absolute;
	top: -14px;
	left: 0;
	opacity: 0;
	/* 처음엔 안보이게 처리 */
	transition: 0.2s;
	/* CSS변화에 시간차 처리 */
}

.circle2 {
	display: inline-block;
	/* 영역적용가능해짐 */
	width: 20px;
	height: 20px;
	border: 1px solid #333;
	box-sizing: border-box;
	border-radius: 10px;
	/* 모서리둥글게 처리 */
	position: relative;
	top: 4px;
	cursor: pointer;
	/* 마우스 올렸을때 손모양 처리 */
}

.circle2:after {
	content: '\2714';
	/* 체크박스 특수문자 */
	font-size: 24px;
	color: #333;
	position: absolute;
	top: -14px;
	left: 0;
	opacity: 0;
	/* 처음엔 안보이게 처리 */
	transition: 0.2s;
	/* CSS변화에 시간차 처리 */
}

.circle3 {
	display: inline-block;
	/* 영역적용가능해짐 */
	width: 20px;
	height: 20px;
	border: 1px solid #333;
	box-sizing: border-box;
	border-radius: 10px;
	/* 모서리둥글게 처리 */
	position: relative;
	top: 4px;
	cursor: pointer;
	/* 마우스 올렸을때 손모양 처리 */
}

.circle3:after {
	content: '\2714';
	/* 체크박스 특수문자 */
	font-size: 24px;
	color: #333;
	position: absolute;
	top: -14px;
	left: 0;
	opacity: 0;
	/* 처음엔 안보이게 처리 */
	transition: 0.2s;
	/* CSS변화에 시간차 처리 */
}

.circle4 {
	display: inline-block;
	/* 영역적용가능해짐 */
	width: 20px;
	height: 20px;
	border: 1px solid #333;
	box-sizing: border-box;
	border-radius: 10px;
	/* 모서리둥글게 처리 */
	position: relative;
	top: 4px;
	cursor: pointer;
	/* 마우스 올렸을때 손모양 처리 */
}

.circle4:after {
	content: '\2714';
	/* 체크박스 특수문자 */
	font-size: 24px;
	color: #333;
	position: absolute;
	top: -14px;
	left: 0;
	opacity: 0;
	/* 처음엔 안보이게 처리 */
	transition: 0.2s;
	/* CSS변화에 시간차 처리 */
}

.circle5 {
	display: inline-block;
	/* 영역적용가능해짐 */
	width: 20px;
	height: 20px;
	border: 1px solid #333;
	box-sizing: border-box;
	border-radius: 10px;
	/* 모서리둥글게 처리 */
	position: relative;
	top: 4px;
	cursor: pointer;
	/* 마우스 올렸을때 손모양 처리 */
}

.circle5:after {
	content: '\2714';
	/* 체크박스 특수문자 */
	font-size: 24px;
	color: #333;
	position: absolute;
	top: -14px;
	left: 0;
	opacity: 0;
	/* 처음엔 안보이게 처리 */
	transition: 0.2s;
	/* CSS변화에 시간차 처리 */
}

.circle6 {
	display: inline-block;
	/* 영역적용가능해짐 */
	width: 20px;
	height: 20px;
	border: 1px solid #333;
	box-sizing: border-box;
	border-radius: 10px;
	/* 모서리둥글게 처리 */
	position: relative;
	top: 4px;
	cursor: pointer;
	/* 마우스 올렸을때 손모양 처리 */
}

.circle6:after {
	content: '\2714';
	/* 체크박스 특수문자 */
	font-size: 24px;
	color: #333;
	position: absolute;
	top: -14px;
	left: 0;
	opacity: 0;
	/* 처음엔 안보이게 처리 */
	transition: 0.2s;
	/* CSS변화에 시간차 처리 */
}

.circle7 {
	display: inline-block;
	/* 영역적용가능해짐 */
	width: 20px;
	height: 20px;
	border: 1px solid #333;
	box-sizing: border-box;
	border-radius: 10px;
	/* 모서리둥글게 처리 */
	position: relative;
	top: 4px;
	cursor: pointer;
	/* 마우스 올렸을때 손모양 처리 */
}

.circle7:after {
	content: '\2714';
	/* 체크박스 특수문자 */
	font-size: 24px;
	color: #333;
	position: absolute;
	top: -14px;
	left: 0;
	opacity: 0;
	/* 처음엔 안보이게 처리 */
	transition: 0.2s;
	/* CSS변화에 시간차 처리 */
}

.circle1 {
	background-color: red;
}

.circle2 {
	background-color: orange;
}

.circle3 {
	background-color: yellow;
}

.circle4 {
	background-color: green;
}

.circle5 {
	background-color: blue;
}

.circle6 {
	background-color: navy;
}

.circle7 {
	background-color: purple;
}

/* input이 체크되면 특수문자 보이게 처리 */
#chk1:checked+.circle1:after {
	opacity: 1;
}

#chk2:checked+.circle2:after {
	opacity: 1;
}

#chk3:checked+.circle3:after {
	opacity: 1;
}

#chk4:checked+.circle4:after {
	opacity: 1;
}

#chk5:checked+.circle5:after {
	opacity: 1;
}

#chk6:checked+.circle6:after {
	opacity: 1;
}

#chk7:checked+.circle7:after {
	opacity: 1;
}

/* 체크박스는 display:none;을 주면 데이터 처리가 안됨 */
#chk1 {
	position: absolute;
	left: -999em;
}

#chk2 {
	position: absolute;
	left: -999em;
}

#chk3 {
	position: absolute;
	left: -999em;
}

#chk4 {
	position: absolute;
	left: -999em;
}

#chk5 {
	position: absolute;
	left: -999em;
}

#chk6 {
	position: absolute;
	left: -999em;
}

#chk7 {
	position: absolute;
	left: -999em;
}

h5 {
	margin: 0px;
}

@import
	url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

.calendar {
	background-color: white;
	width: 80%;
	height: 30vh;
	margin: 0px;
	padding: 20px;
	margin: 0 auto;
	border: 1px solid #B8E9FF;
	border-radius: 5px;
	margin-bottom: 1vh;
	/* box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3); */
}

td {
	width: 3.5vh;
	height: 3.5vh;
}

.Calendar-table {
	text-align: center;
	margin: auto;
}

.Calendar-table>thead>tr:first-child>td {
	font-family: 'Questrial', sans-serif;
	font-size: 0.5em;
	font-weight: bold;
}

.Calendar-table>thead>tr:last-child>td {
	font-family: 'Questrial', sans-serif;
	font-size: 0.5em;
	font-weight: 600;
}

.Calendar-table>tbody>tr>td>p {
	font-family: 'Montserrat', sans-serif;
	height: 5vh;
	width: 5vh;
	border-radius: 45px;
	transition-duration: .2s;
	line-height: 5vh;
	margin: 1px;
	display: block;
	text-align: center;
}

.pastDay {
	color: lightgray;
	font-size: 0.5em;
}

.today {
	background-color: #EEEEEE;
	color: black;
	font-size: 0.5em;
	font-weight: 600;
	cursor: pointer;
}

.futureDay {
	background-color: #FFFFFF;
	font-size: 0.5em;
	cursor: pointer;
}

.futureDay:hover {
	background: #eee;
}

.futureDay.choiceDay, .today.choiceDay {
	background: #B8E9FF;
	color: #fff;
	font-weight: 600;
	font-size: 0.5em;
	cursor: pointer;
}