@import "reset.css";

.header {
	width: 90vw;
	height: 13vh;
	border-bottom: 1px solid #EEEEEE;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5vh;
	/* display: flex;
            justify-content: center; */
}

.header-category {
	display: flex;
	justify-content: center;
	align-items: center;
}

#logimg {
	width: 15vw;
	height: 12vh;
	margin-left: 7vw;
	margin-right: 14vw;
}

.header-category>label {
	/* border: 1px solid;
            border-radius: 5px; */
	color: #595959;
	font-family: 'Noto Sans KR Regular', sans-serif;
	padding: 7px;
	padding-top: 0.2vh;
	padding-bottom: 0.2vh;
	cursor: pointer;
}

#label-left-course {
	margin-right: 3vw;
}

#label-left-community {
	margin-right: 3vw;
}

#label-left-chat {
	margin-right: 3vw;
	padding-left: 1vw;
	padding-right: 1vw;
}

#label-right-login {
	padding-left: 1vw;
	padding-right: 1vw;
	margin-left: 3vw;
}

#label-right-register {
	margin-left: 3vw;
}
.signup1 {
	width: 25vw;
	min-width: 300px;
	height: 70vh;
	margin-inline: auto;
	position: absolute;
	left: 50vw;
	top: 55vh;
	transform: translate(-50%, -50%);
	border-radius: 0.8rem;
}

.signup2 {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding-bottom: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

.signup_header {
	padding-top: 4rem;
	padding-bottom: 2.5rem;
}

.signup_body {
	box-sizing: border-box;
}

#signin {
	font-size: 28pt;
	margin: 0 auto;
	text-align:center;
}

.loginForm {
	width: 100%;
	margin-bottom: 1.5rem;
	font-size: 1.6rem;
}

.loginForm>input {
	width: 100%;
	height: 40px;
	display: inline-block;
	box-sizing: border-box;
	border: 0.7px solid rgb(185, 184, 184);
	border-radius: 0.5rem;
	font-size: 1.6rem;
	padding-left:11px;
}

#findPwButton {
	cursor: pointer;
	width: 100%;
	height: 40px;
	border-radius: 0.5rem;
	border: none;
	margin-top: 15px;
	font-size: 1.6rem;
	color: black;
	background-color: #B8E9FF;
}

ul {
	margin-top:1.7rem;
	margin-bottom:1.5rem;
	text-align: center;
}

li {
	list-style: none;
	display: inline-block;
}

li > a{
	color: grey;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3rem;
}

.wrap{
	padding: 0;
	text-align: center;
	display: flex;
	align-items: center;
}

.line{
    flex:auto;
	border: none;
	height:1px;
	background-color: #000000;
}

.txt{
	padding: 0 1.1rem;
	font-size : 1.2rem;
}

#userID{
	width: 100%;
	background-color: rgb(222, 222, 222);
}

#userEmail{
	width: 100%;
	background-color: rgb(222, 222, 222);
}
#userPW{
	width: 100%;
	background-color: rgb(222, 222, 222);
}
#userPW2{
	width: 100%;
	background-color: rgb(222, 222, 222);
}
#menu{
	width: 100%;
	height: 40px;
}

#menu ul li{
	background-color: #ffffff;
	list-style: none;
	text-align: center;
}

#menu .linka{
	float: left;
}

#menu .linkb{
	float: right;
}

#menu .link{
	width: 120px;
	text-decoration: none;
	display: block;
	color: #000000;
	font-weight: bold;
}

#logo {
	width: 200px;
	height: 100px;
	}
}