@import "reset.css";

.header {
	width: 90vw;
	height: 13vh;
	border-bottom: 1px solid #EEEEEE;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5vh;
	font-size: 1.6rem;
	display:grid;
	grid-template-rows: 13vh;
	font-weight:500;
	text-shadow:  -0.1px 0.1px 0 #000, 0.1px 0.1px 0 #000;
}

.header-category {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-left{
	flex:2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-center{
	flex:3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-right{
	flex:2;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logimg {
	width: 26rem;
	height: 16rem;
	padding-right:1vw;
}

.header-category>label {
	/* border: 1px solid;
            border-radius: 5px; */
	color: #595959;
	font-family: 'Noto Sans KR Regular', sans-serif;
	padding: 7px;
	padding-top: 0.2vh;
	padding-bottom: 0.2vh;
	cursor: pointer;
}

#label-left-course {
	margin: auto;
}

#label-left-community {
	margin: auto;
}

#label-left-chat {
	margin: auto;
}

#label-right-login {
	padding-left: 1vw;
	padding-right: 1vw;
	margin-left: 3vw;
}

#label-right-register {
	margin-left: 3vw;
}

.signup1 {
	width: 25vw;
	min-width: 300px;
	height: 70vh;
	margin-inline: auto;
	position: absolute;
	left: 50vw;
	top: 45vh;
	transform: translate(-50%, -50%);
}

.signup2 {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding-bottom: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

.signup_header {
	padding-top: 4rem;
	padding-bottom: 2.5rem;
}

.signup_body {
	height: 35rem;
	box-sizing: border-box;
}

#signin {
	font-size: 28pt;
	margin: 0 auto;
	text-align:center;
}

.male {
	float: left;
	width: 50%;	
	font-size: 1.6rem;
	margin-top:1rem;
	margin-bottom: 2rem;
	
}

.female {
	float: right;
	width: 50%;
	font-size: 1.6rem;
	margin-top:1rem;	
	margin-bottom: 2rem;
		
}

.loginForm {
	width: 100%;
	height:4rem;
	margin-top:1rem;
	margin-bottom: 2rem;
	padding:0.3rem;
	font-size: 1.6rem;
	display: inline-block;
}

.loginForm>input {
	width: 100%;
	height: 3.5rem;
	display: inline-block;
	box-sizing: border-box;
	border: 0.7px solid rgb(185, 184, 184);
	border-radius: 0.5rem;
	margin-top:1rem;
	font-size: 1.6rem;
}
.idcheck{
	cursor: pointer;
	margin-left:2vw;
	border:solid;
	border-width:0.1rem;
	border-radius: 0.5rem;
}
#sendAuthButton {
	cursor: pointer;
	margin-left:2vw;
	border:solid;
	border-width:0.1rem;
	border-radius: 0.5rem;
}
#userAuthButton {
	cursor: pointer;
	width: 100%;
	height: 3.5rem;
	border-radius: 0.5rem;
	border: none;
	margin-top: 1.5rem;
	font-size: 1.6rem;
	color: black;
	background-color: rgb(222, 222, 222);
}

#signinButton {
	cursor: pointer;
	width: 100%;
	height: 3.5rem;
	border-radius: 0.5rem;
	border: none;
	margin-top: 1.5rem;
	font-size: 1.6rem;
	color: white;
	background-color: #B8E9FF;
}

ul {
	padding: 0;
	text-align: center;
}

li {
	cursor: pointer;
	list-style: none;
	display: inline-block;
	color: grey;
}

#menu{
	width: 100%;
	height: 40px;
}

#menu ul li{
	background-color: #ffffff;
	list-style: none;
	text-align: center;
}

#menu .linka{
	float: left;
}

#menu .linkb{
	float: right;
}

#menu .link{
	width: 120px;
	text-decoration: none;
	display: block;
	color: #000000;
	font-weight: bold;
}

#logo {
	width: 200px;
	height: 100px;
	}
	
}
