/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}
a{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
input:focus{
	outline: none;
}
/* px 대신 rem 사용, 1rem = 16px인데 쓰기쉽게. 
	ex) 15px = 1.5rem 
	rem 은 화면비율에 맞게 늘어나서 좋다함 ㅇㅇ 
	근데 이거쓰면 기본글씨 다줄어들거같은데 쩝 ;
	진짜 다줄어듦. 일단폐기.*/
html{
	font-size: 62.5%;
}
