<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airplane</title>
</head>
<body>
    <h1>Airplane Information</h1>
    <table id="flightTable">
        <tr>
            <th>항공사</th>
            <th>출발지</th>
            <th>목적지</th>
            <th>날짜</th>
            <th>항공편</th>
            <th>출발시간</th>
            <th>변경시간</th>            
            <th>현황</th>
        </tr>
        <tr th:each="boarding : ${boardings}">
            <td th:text="${boarding.airlineKorean}"></td>
            <td th:text="${boarding.boardingKor}"></td>
            <td th:text="${boarding.arrivedKor}"></td>
            <td th:text="${boarding.flightDate}"></td>
            <td th:text="${boarding.airFln}"></td>
            <td th:text="${boarding.std}"></td>
            <td th:text="${boarding.etd}"></td>
            <td th:text="${boarding.rmkKor}"></td>
        </tr>
    </table>
</body>
</html>