<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airplane</title>
    <link href="./resources/css/airplane.css" rel="stylesheet">
</head>
<body>

<div id="AirplaneInformation">
<div id="airplane-boardings" th:if="${not #lists.isEmpty(boardings)}" style="display: block">
    <div class="airplane-title">
    	<div class="airplane-button-block">
    		<button class="airplane-button"  onclick="viewBoardings();">출발지: 제주</button>
    		<button class="airplane-button"  onclick="viewArriveds();">목적지: 제주</button>
    	</div>
    	<div class="airplane-title-img-div">
    		<img class="airplane-title-img" th:src="@{/resources/image/airplane-title-img3.png}">
    	</div>
    </div>
   
    <table id="flightTable">
        <tr>
        	<th class="airplane-flightDate">날짜</th>
        	<th class="airplane-std">출발시간</th>
        	<th class="airplane-etd">변경시간</th>
            <th class="airplane-boardingKor">출발지</th>
            <th class="airplane-arrivedKor">목적지</th>
            <th class="airplane-airFln">항공편</th>
            <th class="airplane-airlineKorean">항공사</th>
           	<th class="airplane-rmkKor">현황</th>
        </tr>
       	<tr th:each="boarding : ${boardings}">
           	<td class="airplane-flightDate" th:text="${boarding.flightDate}"></td>
            <td class="airplane-std">
            	<div th:if="${boarding.std.toString().length() == 3}">
    				<div th:text="${#strings.substring(boarding.std.toString(), 0, 1) + ':' + #strings.substring(boarding.std.toString(), 1)}"></div>
				</div>
             	<div th:if="${boarding.std.toString().length() == 4}">
    				<div th:text="${#strings.substring(boarding.std.toString(), 0, 2) + ':' + #strings.substring(boarding.std.toString(), 2)}"></div>
				</div>
            </td>
             <td class="airplane-etd" id="airplane-etd" >
             	<div th:if="${boarding.etd.toString().length() == 3}">
    				<div th:text="${#strings.substring(boarding.etd.toString(), 0, 1) + ':' + #strings.substring(boarding.etd.toString(), 1)}"></div>
				</div>
             	<div th:if="${boarding.etd.toString().length() == 4}">
    				<div th:text="${#strings.substring(boarding.etd.toString(), 0, 2) + ':' + #strings.substring(boarding.etd.toString(), 2)}"></div>
				</div>
             </td>
            <td class="airplane-boardingKor" th:text="${boarding.boardingKor}"></td>
            <td class="airplane-arrivedKor" th:text="${boarding.arrivedKor}"></td>
            <td class="airplane-airFln" th:text="${boarding.airFln}"></td>
          	<td class="airplane-airlineKorean">
			    <div class="airplane-airlineKorean-div" th:if="${boarding.airlineKorean == '대한항공'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-koreanair.png}">
			        <span th:text="${boarding.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${boarding.airlineKorean == '아시아나항공'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-asiana.png}">
			        <span th:text="${boarding.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${boarding.airlineKorean == '진에어'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-jinair.png}">
			        <span th:text="${boarding.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${boarding.airlineKorean == '티웨이항공'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-tway.png}">
			        <span th:text="${boarding.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${boarding.airlineKorean == '제주항공'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-jeju.png}">
			        <span th:text="${boarding.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${boarding.airlineKorean == '에어부산'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-airbusan.png}">
			        <span th:text="${boarding.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${boarding.airlineKorean == '에어로케이항공'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-aerok.png}">
			        <span th:text="${boarding.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${boarding.airlineKorean == '하이에어'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-hiair.png}">
			        <span th:text="${boarding.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${boarding.airlineKorean == '에어서울'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-airseoul.png}">
			        <span th:text="${boarding.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${boarding.airlineKorean == '이스타항공'}">
			    	<img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-eastar.png}">
			    	<span th:text="${boarding.airlineKorean}"></span>
			    </div>
			</td>
            <td class="airplane-rmkKor">
            	<div class="airplane-rmkKor-ifdiv" th:if="${boarding.rmkKor == '출발'} or ${boarding.rmkKor == '도착'}">
            		<div class="airplane-rmkKor-ifdiv-div" th:text="${boarding.rmkKor}" style="background-color:#0067a3;"></div>
            	</div>
            	<div class="airplane-rmkKor-ifdiv"  th:if="${boarding.rmkKor == '지연'} or ${boarding.rmkKor == '결항'}">
            		<div class="airplane-rmkKor-ifdiv-div" th:text="${boarding.rmkKor}" style="background-color: #dc143c;"></div>
            	</div>
            	<div class="airplane-rmkKor-ifdiv"  th:if="${boarding.rmkKor == ''} or ${boarding.rmkKor == null}">
            		<div class="airplane-rmkKor-ifdiv-div" th:text="${boarding.rmkKor}" style="background-color:white;"></div>
            	</div>
            	<div class="airplane-rmkKor-ifdiv"  th:if="${boarding.rmkKor != '출발'} and ${boarding.rmkKor != '도착'} and ${boarding.rmkKor != '지연'} and ${boarding.rmkKor != '결항' } and ${boarding.rmkKor != ''} and ${boarding.rmkKor != null}">
            		<div class="airplane-rmkKor-ifdiv-div"  th:text="${boarding.rmkKor}" style="background-color: #32cd32;"></div>
            	</div>
            </td>
            
        </tr> 	
    </table>
  </div>
 <div id="airplane-arriveds" th:if="${not #lists.isEmpty(arriveds)}" style="display: none">
    <div class="airplane-title">
    	 
    	<div class="airplane-button-block">
    		<button class="airplane-button" onclick="viewBoardings();">출발지: 제주</button>
    		<button class="airplane-button" onclick="viewArriveds();">목적지: 제주</button>
    	</div>
    	<div class="airplane-title-img-div">
    		<img class="airplane-title-img" th:src="@{/resources/image/airplane-title-img3.png}">
    	</div>
    </div>
   
    <table id="flightTable">
        <tr>
        	<th class="airplane-flightDate">날짜</th>
        	<th class="airplane-std">출발시간</th>
        	<th class="airplane-etd">변경시간</th>
            <th class="airplane-boardingKor">출발지</th>
            <th class="airplane-arrivedKor">목적지</th>
            <th class="airplane-airFln">항공편</th>
            <th class="airplane-airlineKorean">항공사</th>
           	<th class="airplane-rmkKor">현황</th>
        </tr>
       	<tr th:each="arrived : ${arriveds}">
           	<td class="airplane-flightDate" th:text="${arrived.flightDate}"></td>
            <td class="airplane-std">
            	<div th:if="${arrived.std.toString().length() == 3}">
    				<div th:text="${#strings.substring(arrived.std.toString(), 0, 1) + ':' + #strings.substring(arrived.std.toString(), 1)}"></div>
				</div>
             	<div th:if="${arrived.std.toString().length() == 4}">
    				<div th:text="${#strings.substring(arrived.std.toString(), 0, 2) + ':' + #strings.substring(arrived.std.toString(), 2)}"></div>
				</div>
            </td>
             <td class="airplane-etd" id="airplane-etd" >
             	<div th:if="${arrived.etd.toString().length() == 3}">
    				<div th:text="${#strings.substring(arrived.etd.toString(), 0, 1) + ':' + #strings.substring(arrived.etd.toString(), 1)}"></div>
				</div>
             	<div th:if="${arrived.etd.toString().length() == 4}">
    				<div th:text="${#strings.substring(arrived.etd.toString(), 0, 2) + ':' + #strings.substring(arrived.etd.toString(), 2)}"></div>
				</div>
             </td>
            <td class="airplane-boardingKor" th:text="${arrived.boardingKor}"></td>
            <td class="airplane-arrivedKor" th:text="${arrived.arrivedKor}"></td>
            <td class="airplane-airFln" th:text="${arrived.airFln}"></td>
          	<td class="airplane-airlineKorean">
			    <div class="airplane-airlineKorean-div" th:if="${arrived.airlineKorean == '대한항공'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-koreanair.png}">
			        <span th:text="${arrived.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${arrived.airlineKorean == '아시아나항공'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-asiana.png}">
			        <span th:text="${arrived.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${arrived.airlineKorean == '진에어'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-jinair.png}">
			        <span th:text="${arrived.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${arrived.airlineKorean == '티웨이항공'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-tway.png}">
			        <span th:text="${arrived.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${arrived.airlineKorean == '제주항공'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-jeju.png}">
			        <span th:text="${arrived.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${arrived.airlineKorean == '에어부산'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-airbusan.png}">
			        <span th:text="${arrived.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${arrived.airlineKorean == '에어로케이항공'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-aerok.png}">
			        <span th:text="${arrived.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${arrived.airlineKorean == '하이에어'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-hiair.png}">
			        <span th:text="${arrived.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${arrived.airlineKorean == '에어서울'}">
			        <img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-airseoul.png}">
			        <span th:text="${arrived.airlineKorean}"></span>
			    </div>
			    <div class="airplane-airlineKorean-div" th:if="${arrived.airlineKorean == '이스타항공'}">
			    	<img class="airplane-airlineKorean-img" th:src="@{/resources/image/airplane-eastar.png}">
			    	<span th:text="${arrived.airlineKorean}"></span>
			    </div>
			</td>
            <td class="airplane-rmkKor">
            	<div class="airplane-rmkKor-ifdiv" th:if="${arrived.rmkKor == '출발'} or ${arrived.rmkKor == '도착'}">
            		<div class="airplane-rmkKor-ifdiv-div" th:text="${arrived.rmkKor}" style="background-color:#0067a3;"></div>
            	</div>
            	<div class="airplane-rmkKor-ifdiv"  th:if="${arrived.rmkKor == '지연'} or ${arrived.rmkKor == '결항'}">
            		<div class="airplane-rmkKor-ifdiv-div" th:text="${arrived.rmkKor}" style="background-color: #dc143c;"></div>
            	</div>
            	<div class="airplane-rmkKor-ifdiv"  th:if="${arrived.rmkKor == ''} or ${arrived.rmkKor == null}">
            		<div class="airplane-rmkKor-ifdiv-div" th:text="${arrived.rmkKor}" style="background-color:white;"></div>
            	</div>
            	<div class="airplane-rmkKor-ifdiv"  th:if="${arrived.rmkKor != '출발'} and ${arrived.rmkKor != '도착'} and ${arrived.rmkKor != '지연'} and ${arrived.rmkKor != '결항' } and ${arrived.rmkKor != ''} and ${arrived.rmkKor != null}">
            		<div class="airplane-rmkKor-ifdiv-div"  th:text="${arrived.rmkKor}" style="background-color: #32cd32;"></div>
            	</div>
            </td>
            
        </tr> 	
    </table>
  </div>
  <div id="bothEmpty" th:if="${#lists.isEmpty(boardings) and #lists.isEmpty(arriveds)}">
  	<div class="airplane-title">
    		<div class="airplane-title-img-div">
    			<img class="airplane-title-img" th:src="@{/resources/image/airplane-title-img3.png}">
    		</div>
    	</div> 
  	<div class="listEmpty">
  		<div class="listEmpty-title">*실시간 항공편 안내사항*</div><br><br>
  		<div class="listEmpty-content"><span style="color:#0067a3;">오후 10시 ~ 오전 6시 까지는</span> 항공편이 조회되지 않습니다.</div>
  		<div class="listEmpty-content">서비스 이용에 불편함을 드려서 죄송합니다.</div>
  	</div>
  </div>
  <div id="bothEmpty" th:if="${boardings == null and arriveds == null}">
  	<div class="airplane-title">
    		<div class="airplane-title-img-div">
    			<img class="airplane-title-img" th:src="@{/resources/image/airplane-title-img3.png}">
    		</div>
    	</div> 
  	<div class="listEmpty">
  		<div class="listEmpty-title">*실시간 항공편 안내사항*</div><br><br>
  		<!-- <div class="listEmpty-content"><span style="color:#0067a3;">오후 10시 ~ 오전 6시 까지는</span> 항공편이 조회되지 않습니다.</div> -->
  		<div class="listEmpty-content">서비스 이용에 불편함을 드려서 죄송합니다.</div>
  	</div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script th:inline="javascript">
var boardingsDiv = document.getElementById("airplane-boardings");
var arrivedsDiv = document.getElementById("airplane-arriveds");

 function viewBoardings() {
	 
     boardingsDiv.style.display = "block";
     arrivedsDiv.style.display = "none";
   }

   function viewArriveds() {
	 
     arrivedsDiv.style.display = "block";
     boardingsDiv.style.display = "none";
   }
 </script>
</body>
</html>