<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
	<link href="./resources/css/mainpage.css" rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">

//장소별 팝업창
  function placePopup(placeName,imagePath) {
    $.ajax({
      url: '/main/getPlaceInfo',
      type: 'GET',
      data: { placeName: placeName },
      success: function(response) {
        openPopup(response.placeName, response.placeAddress, response.placePhone, response.placeContent, response.placeInfo, response.placeGood, imagePath);
      },
      error: function(error) {
        console.error('Error:', error);
      }
    });
  }

  function openPopup(placeName,placeAddress,  placePhone, placeContent, placeInfo, placeGood, imagePath) {
	  var popupContainer = document.createElement("div");
	  popupContainer.setAttribute("id", "place_popupContainer");
	  popupContainer.setAttribute("class", "place_popup-container");

	  var popup = document.createElement("div");
	  popup.setAttribute("class", "place_popup");

	  popup.innerHTML = `
		<img src="${imagePath}">
	    <h1>${placeName}</h1>
	    <p>${placeAddress}</p>
	    <p>${placePhone}</p>
	    <p>${placeContent}</p>
	    <p>${placeInfo}</p>
	    	  <p class="recommend"><img src="/resources/image/insta_heart.png"/><span>추천수: ${placeGood}</span></p>
	    	  <span class="place_popup-close" onclick="closePopup()">X</span>
	    	`;

	  popupContainer.appendChild(popup);
	  document.body.appendChild(popupContainer);
	}


  function closePopup() {
    var popupContainer = document.getElementById("place_popupContainer");
    if (popupContainer) {
      popupContainer.parentNode.removeChild(popupContainer);
    }
  }
</script>

<style type="text/css">

</style>
</head>
<body>

	<div id="back">
		<img src="/resources/image/back.png" id="back_img">
		<header>
			<div class="a">
				<div id="logo">
					<img src="/resources/image/logo2.png" alt="Logo">
				</div>
				<!-- 로그인전 --> 
				<div th:if="${session.login == null}" id="top_menu">
					<a href="/login">로그인</a> <a href="/login/registerform">회원가입</a>
				</div>
				<!-- 로그인 후 -->
				<div th:if="${session.login != null}" id="top_menu">
					<a href="/login/logout">로그아웃</a><a href="/login/usermain">마이페이지</a>
				</div>
			</div>
			<div id="nav">
				<label for=""><a href="/plan">일정만들기</a></label>
				<label for=""><a href="/ocr">코스보기</a></label>
				<label for=""><a href="/community/communitymain">커뮤니티</a></label>
				<label for=""><a href="#">동행구하기</a></label>
			</div>

		</header>
		<label id="main_text"> 제주도 여행의 모든것 </label>
	</div>
	<div id="place_text">
		<br> <br>
		<p>제주도 핫플레이스</p>
		<p>Hot Place</p>
		<br> <br>
	</div>
	<div class="swiper-container">
	  <div class="swiper-wrapper">
	    <div th:each="list : ${list}" class="swiper-slide">
	      <div class="hot_img">
	        <a href="javascript:void(0);" onclick="placePopup(this.getAttribute('data-place-name'), this.getAttribute('data-image-path'))" th:data-place-name="${list.placeName}" th:data-image-path="@{/resources/image/__${list.placeName}__.jpg}">
	          <img th:src="@{/resources/image/__${list.placeName}__.jpg}">
	        </a>
	      </div>
	      <div th:text="${list.placeName}" class="hot_text"></div>
	    </div>
	  </div>

	  <!-- 네비게이션 -->
	  <div class="swiper-button-next"></div>
	  <!-- 다음 버튼 (오른쪽에 있는 버튼) -->
	  <div class="swiper-button-prev"></div>
	  <!-- 이전 버튼 -->
	
	  <!-- 페이징 -->
	  <div class="swiper-pagination"></div>
	</div>



	<div id="place_text">
		<br> <br>
		<p>코스추천</p>
		<p>Course</p>
		<br> <br>
	</div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="#"><img src="/resources/image/udo.jpg"></a>
			</div>
			<div class="swiper-slide">
				<a href="#"><img src="/resources/image/udo.jpg"></a>
			</div>
			<div class="swiper-slide">
				<a href="#"><img src="/resources/image/udo.jpg"></a>
			</div>
			<div class="swiper-slide">
				<a href="#"><img src="/resources/image/udo.jpg"></a>
			</div>
			<div class="swiper-slide">
				<a href="#"><img src="/resources/image/udo.jpg"></a>
			</div>
			<div class="swiper-slide" style="font-size: 50pt;">- 끝 -</div>
		</div>

		<!-- 네비게이션 -->
		<div class="swiper-button-next"></div>
		<!-- 다음 버튼 (오른쪽에 있는 버튼) -->
		<div class="swiper-button-prev"></div>
		<!-- 이전 버튼 -->

		<!-- 페이징 -->
		<div class="swiper-pagination"></div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div id="place_text">
		<p>어떤 여행을 계획하고 계시나요?</p>
		<p>Hash Tag</p>
		<br> <br>
	</div>
	<div align="center" id="tag1">#반려동물동반</div>
	<div class="instagram-feed-container">
        <div th:each="animalList: ${animalList}" class="instagram-feed">
            <div class="image-container">
                <a href="javascript:void(0);" onclick="placePopup(this.getAttribute('data-place-name'), this.getAttribute('data-image-path'))" th:data-place-name="${animalList.placeName}" th:data-image-path="@{/resources/image/place/__${animalList.placeName}__.jpg}"><img th:src="@{/resources/image/place/__${animalList.placeName}__.jpg}" alt="Instagram Feed Image"></a>
            </div>
            <div class="icons">
                <div class="left-icons">
                    <img src="/resources/image/insta_heart.png" alt="Heart Icon" class="fas fa-heart">
                    <img src="/resources/image/insta_chat.png" alt="Comment Icon" class="fas fa-comment">
                    <img src="/resources/image/insta_share.png" alt="Share Icon" class="fas fa-share">
                </div>
                <div class="right-icons">
                    <img src="/resources/image/insta_store.png" alt="Bookmark Icon" class="fas fa-bookmark">
                </div>
            </div>
            <div class="hashtags">
                <a href="javascript:void(0);" onclick="placePopup(this.getAttribute('data-place-name'), this.getAttribute('data-image-path'))" th:data-place-name="${animalList.placeName}" th:data-image-path="@{/resources/image/place/__${animalList.placeName}__.jpg}"><div>#<span th:text="${animalList.placeName}"></span></div></a>
            </div>
        </div>
	</div>


	<div align="center" id="tag1">#부모님동반</div>
		<div class="instagram-feed-container">
        <div th:each="parentsList:${parentsList}" class="instagram-feed">
            <div class="image-container">
                <a href="javascript:void(0);" onclick="placePopup(this.getAttribute('data-place-name'), this.getAttribute('data-image-path'))" th:data-place-name="${parentsList.placeName}" th:data-image-path="@{/resources/image/place/__${parentsList.placeName}__.jpg}"><img th:src="@{/resources/image/place/__${parentsList.placeName}__.jpg}" alt="Instagram Feed Image"></a>
            </div>
            <div class="icons">
                <div class="left-icons">
                    <img src="/resources/image/insta_heart.png" alt="Heart Icon" class="fas fa-heart">
                    <img src="/resources/image/insta_chat.png" alt="Comment Icon" class="fas fa-comment">
                    <img src="/resources/image/insta_share.png" alt="Share Icon" class="fas fa-share">
                </div>
                <div class="right-icons">
                    <img src="/resources/image/insta_store.png" alt="Bookmark Icon" class="fas fa-bookmark">
                </div>
            </div>
            <div class="hashtags">
                <a href="javascript:void(0);" onclick="placePopup(this.getAttribute('data-place-name'), this.getAttribute('data-image-path'))" th:data-place-name="${parentsList.placeName}" th:data-image-path="@{/resources/image/place/__${parentsList.placeName}__.jpg}"><div>#<span th:text="${parentsList.placeName}"></span></div></a>
            </div>
        </div>
	</div>

	<script th:inline="javascript">
	var loginchk = [[${session.login}]];
	console.log(loginchk); 
	
	</script>

	<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		  window.addEventListener('load', function() {
		    $.ajax({
		      url: '/plan/airplane',
		      type: 'GET',
		      success: function(response) {
		        var popupWindow = window.open('', 'Course Preview', 'width=800,height=600');
		        if (popupWindow && popupWindow.document) {
		          popupWindow.document.open();
		          popupWindow.document.write(response);
		          popupWindow.document.close();
		        } else {
		          // 팝업 차단 메시지 또는 대체 처리 로직
		          console.log('팝업 차단되었거나 팝업 창을 열 수 없습니다.');
		        }
		      }
		    });
		    /* location.href="/plan/airplane"; */
		  });
		});

    </script>
	<script>
		new Swiper('.swiper-container', {

			slidesPerView : 2, // 동시에 보여줄 슬라이드 갯수
			spaceBetween : 30, // 슬라이드간 간격
			slidesPerGroup : 2, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

			// 그룹수가 맞지 않을 경우 빈칸으로 메우기
			// 3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듬
			loopFillGroupWithBlank : true,

			loop : true, // 무한 반복

			pagination : { // 페이징
				el : '.swiper-pagination',
				clickable : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
			},
			navigation : { // 네비게이션
				nextEl : '.swiper-button-next', // 다음 버튼 클래스명
				prevEl : '.swiper-button-prev', // 이번 버튼 클래스명
			},
		});
	</script>

</body>
</html>
