<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript">
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      document.getElementById('preview').src = e.target.result;
    };
    reader.readAsDataURL(input.files[0]);
  } else {
    document.getElementById('preview').src = "";
  }
}
</script>
<title>Insert title here</title>
</head>
<body>
<form action="/review/reveiwwrite" method="post" enctype="multipart/form-data">
<div class="filebox">
    <input class="upload-name" value="첨부파일" placeholder="첨부파일">
    <label for="attachFile">사진 업로드</label>
    <input type="file" id="attachFile" name="attachFile" onchange="readURL(this);">
    <img id="preview" />
    <input type="submit" value="등록" id="submitBT">
</div>
</form>
</body>
</html>