<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OCR Text Extraction</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:inline="javascript">
    var loginchk = [[${session.login}]];
    console.log(loginchk.userID);
        $(function(){
            let res = '[(${res})]'; // Thymeleaf 문법으로 res 값을 가져옴
            let num = '[(${num})]';
            let userCheck = [[(${userCheck})]];
            //console.log(res);
            console.log(num);
            console.log(typeof userCheck);
            console.log(userCheck.recommandDate);
            
            var userCheckcnt=0;
            let userCheckArray = userCheck.match(/recommandUserID=([^,]+)/g);
            let matches = userCheck.match(/recommandDate=([^,]+)/g);
        
            let userIDs = userCheckArray.map(item => item.split('=')[1]);
            let match = matches.map(item => item.split('=')[1]);
            console.log(match);
            var dateCheckcnt=-1;
            var dateCheckdata;
            userIDs.forEach(function(userID) {
            	dateCheckcnt++;
                if (loginchk.userID == userID) {
                    
                    userCheckcnt++;
                    dateCheckdata=match[dateCheckcnt];
                    console.log(dateCheckdata);
                }
                
            });

            let placeNumber = num.match(/placeNumber=([^,]+)/)[1];
            let placeName = num.match(/placeName=([^,]+)/)[1];
            let placeAddress = num.match(/placeAddress=([^,]+)/)[1];
            console.log(placeNumber);
            let check="";
            
	        // 괄호 제거하기
	        placeAddress = placeAddress.replace(/\(|\)/g, '');
	        placeAddress = placeAddress.replace(/\s/g, '');
            console.log(placeName);
            console.log(placeAddress);
            if (res) {
                res = JSON.parse(res); // JSON 문자열을 JavaScript 객체로 변환
                for (let i = 0; i < res.images[0].fields.length; i++) {
                    $("div").append(res.images[0].fields[i].inferText + " ");
                    check+=res.images[0].fields[i].inferText;
                    
                }
                
                console.log(check);
                
                var date;
                var regex = /(200[0-9]|201[0-9]|202[0-3])-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])/g;
                var result = check.match(regex);
                if (result) {
                	  date = new Date(result[0]);
                	  console.log(date);
                	}
                
                
                var placeCheckcnt=0;
            
                if (check.includes(placeAddress)) {
                    console.log("placeAddress 값이 포함되어 있습니다.");
                    placeCheckcnt++;
                } else {
                    console.log("placeAddress 값이 포함되어 있지 않습니다.");
                }

                if (check.includes(placeName)) {
                    console.log("placeName 값이 포함되어 있습니다.");
                    placeCheckcnt++;
                } else {
                    console.log("placeName 값이 포함되어 있지 않습니다.");
                }
                console.log(dateCheckdata);
    			console.log(date);
                if(placeCheckcnt==2){
                	if(userCheckcnt==0){
                		alert("첫번째 영수증 인증이 완료되었습니다");
                		// 데이터를 서버로 전송하여 DB에 삽입
                        $.ajax({
                            url: '/review/insertRecommandData', // 백엔드 API 엔드포인트
                            type: 'POST',
                            data: {
                                userID: loginchk.userID,
                                placeNumber: placeNumber,
                                date: date
                            },
                            success: function(response) {
                                console.log(response);
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                	}
                	else if(userCheckcnt==1){
                		if(dateCheckdata!=date){
                			console.log(dateCheckdata);
                			console.log(date);
                			alert("두번째 영수증 인증이 완료되었습니다. 내 추천목록에 추가됩니다");
                			console.log("두번째 영수증 인증이 완료되었습니다. 내 추천목록에 추가됩니다");
                			
                			 // 데이터를 서버로 전송하여 DB에 삽입
                            $.ajax({
                                url: '/review/insertRecommandData', // 백엔드 API 엔드포인트
                                type: 'POST',
                                data: {
                                    userID: loginchk.userID,
                                    placeNumber: placeNumber,
                                    date: date
                                },
                                success: function(response) {
                                    console.log(response);
                                },
                                error: function(error) {
                                    console.log(error);
                                }
                            });
                		}
                	}
                	else if(userCheckcnt>1){
                		alert("두번 이상 인증하셨습니다");
                	}
                }
                else alert("영수증과 장소가 일치하지 않습니다");
            }
            
        });
    </script>
</head>
<body>
    <h1>OCR Text Result:</h1>
    <div></div>
    
</body>
</html>
