<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap"
	rel="stylesheet">
<link href="./resources/css/plan.css" rel="stylesheet">
<script
	src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=L9YT0x6My9adXfumw1zGi2Gs24KLX3qS7depPI37"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:inline="javascript">
var loginchk = [[${session.login}]];
console.log(loginchk);
var markers = []; // 마커를 담을 배열
var placeData=[];
var map; // map 객체 선언
//체크박스 선택 상태를 저장할 객체
const checkboxStates = {};
// 초기 마커 생성
var placeList = [[${placeRestaurantList}]];
/* function reloadStylesheet() {
	  var links = document.getElementsByTagName('link');
	  for (var i = 0; i < links.length; i++) {
	    if (links[i].rel === 'stylesheet') {
	      var href = links[i].href;
	      links[i].href = ''; // 스타일시트 URL을 비웁니다.
	      links[i].href = '/resources/css/plan.css'; // 스타일시트 URL을 다시 설정하여 재로드합니다.
	    }
	  }
	} */
function initTmap() {
	  // map 생성
	  map = new Tmapv2.Map("map_div", {
	    center: new Tmapv2.LatLng(33.3616666, 126.5291666),
	    width: "60vw", // 지도의 넓이
	    height: "80vh", // 지도의 높이
	    zoom: 10
	  });
	  createMarkers(placeList);
	}

function fetchUpdatedMarkers(category) {
	
    $.ajax({
      url: '/plan/fetchMarkers',
      method: 'GET',
      data: { category: category },
      success: function (data) {
    	  updateList(data);
    	  createMarkers(data);
    	  
      },
      error: function () {
        console.log('Failed to fetch updated markers.');
      }
    });
  }
  
function updateList(data) {
	var listContainer = document.querySelector('.list');
	  listContainer.innerHTML = ''; // 기존 리스트 내용 초기화

	  data.forEach(function (restaurant) {
	    var listItem = document.createElement('div');
	    listItem.id = 'left_block';
		
	    var inputLon = document.createElement('input');
	    inputLon.type = 'hidden';
	    inputLon.name = 'planLon';
	    inputLon.value = restaurant.placeLon;
	    listItem.appendChild(inputLon);

	    var inputLat = document.createElement('input');
	    inputLat.type = 'hidden';
	    inputLat.name = 'planLat';
	    inputLat.value = restaurant.placeLat;
	    listItem.appendChild(inputLat);

	    var listImg = document.createElement('div');
	    listImg.id = 'list-img';
	    var img = document.createElement('img');
	    img.src = './resources/image/place/' + restaurant.placeName + '.jpg';
	    img.alt = '';
	    listImg.appendChild(img);
	    listItem.appendChild(listImg);

	    var listName = document.createElement('div');
	    listName.id = 'list-name';

	    var listNameLabel = document.createElement('div');
	    listNameLabel.id = 'list-name-label';
	    var nameLabel = document.createElement('label');
	    nameLabel.textContent = restaurant.placeName;
	    listNameLabel.appendChild(nameLabel);
	    listName.appendChild(listNameLabel);

	    var listNameHeartimg = document.createElement('div');
	    listNameHeartimg.id = 'list-name-heartimg';

	    var heartImg = document.createElement('div');
	    var imgHeart = document.createElement('img');
	    imgHeart.src = './resources/image/heart.png';
	    imgHeart.alt = '';
	    imgHeart.id = 'heart';
	    heartImg.appendChild(imgHeart);
	    listNameHeartimg.appendChild(heartImg);

	    var listNameHeartimgLabel = document.createElement('div');
	    listNameHeartimgLabel.id = 'list-name-heartimg-label';
	    var heartLabel = document.createElement('label');
	    heartLabel.textContent = restaurant.placeGood;
	    listNameHeartimgLabel.appendChild(heartLabel);
	    listNameHeartimg.appendChild(listNameHeartimgLabel);

	    listName.appendChild(listNameHeartimg);
	    listItem.appendChild(listName);

	    var listPlus = document.createElement('div');
	    listPlus.id = 'list-plus';
	    var plusImg = document.createElement('img');
	    plusImg.src = './resources/image/plus.png';
	    plusImg.alt = '';
	    plusImg.id = 'plus';
	    listPlus.appendChild(plusImg);
	    listItem.appendChild(listPlus);

	    listContainer.appendChild(listItem);
	    
	 /* // CSS 스타일시트 재로드
	    reloadStylesheet(); */
	  });
}
var selectedMarkerChart1 = null; // 클릭된 마커에 대한 차트 인스턴스를 저장할 변수 (chartCanvas)
var selectedMarkerChart2 = null; // 클릭된 마커에 대한 차트 인스턴스를 저장할 변수 (chartCanvas2)

function createMarkers(data) {
    // 이전에 생성된 마커 삭제
    // 숨길 요소와 나타낼 요소를 변수로 저장
	var mainLeft = document.getElementsByClassName("main-left")[0];
	var placeMenu = document.getElementsByClassName("placemenu")[0];
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
    markers = [];
	placeData = [];
    // 새로운 마커 생성
    for (var i = 0; i < data.length; i++) {
      var place = data[i];
      var marker = new Tmapv2.Marker({
        position: new Tmapv2.LatLng(place.placeLon, place.placeLat),
        map: map,
        title: place.placeName
      });
      
      marker.setIcon("/resources/image/mk.png");
      markers.push(marker); // 생성된 마커를 배열에 추가
      
      var extractedValue2 = {
    		placeNumber: place.placeNumber,
      		placeName: place.placeName,
      		placeAddress: place.placeAddress,
      		placePhone: place.placePhone,
      		placeGood: place.placeGood,
      		placeInfo: place.placeInfo,
      		placeTag1: place.placeTag1,
      		placeTag2: place.placeTag2,
      		placeTag3: place.placeTag3
            };
      placeData.push(extractedValue2);
    }
    var selectedMarker = null; // 클릭된 마커를 저장할 변수 추가
    
    document.getElementById("placemenu_button").onclick = function () {
    	mainLeft.style.display = 'block';
	      placeMenu.style.display = 'none';
	      if (selectedMarker !== null) {
                selectedMarker.setIcon("/resources/image/mk.png");
          }
      };
    // 마커 클릭 이벤트 등록
    for (var i = 0; i < markers.length; i++) {
	  (function(index) {
	    markers[index].addListener("click", function(evt) {
	    	      var marker = markers[index];
	      var placedata = placeData[index];
	      var placeNumber = placedata.placeNumber;
	      console.log(marker);
	      console.log(placedata);
	   	  // 이전에 클릭된 마커가 있을 경우 아이콘을 원래대로 되돌림
          if (selectedMarker !== null) {
                selectedMarker.setIcon("/resources/image/mk.png");
          }
	      
       // 이전에 클릭된 마커에 대한 차트를 파괴
          if (selectedMarkerChart1 !== null) {
            selectedMarkerChart1.destroy();
          }
          if (selectedMarkerChart2 !== null) {
            selectedMarkerChart2.destroy();
          }
       
        sessionStorage.setItem('placeNumber', placedata.placeNumber);
	      marker.setIcon("/resources/image/m11.png");
	      
	      // 요소의 스타일 속성을 조작하여 나타내거나 숨김
	      mainLeft.style.display = 'none';
	      placeMenu.style.display = 'block';
	      
	      document.getElementById("datatest1").innerText = placedata.placeName;
	      document.getElementById("datatest2").innerText = placedata.placeAddress;
	      document.getElementById("datatest3").innerText = placedata.placePhone;
	      document.getElementById("datatest4").innerText = placedata.placeGood;
	      document.getElementById("datatest5").innerText = placedata.placeInfo;
	      document.getElementById("datatest6").innerText = placedata.placeTag1;
	      document.getElementById("datatest7").innerText = placedata.placeTag2;
	      document.getElementById("datatest8").innerText = placedata.placeTag3;
	      
	   	  // 클릭된 마커를 selectedMarker 변수에 저장
        selectedMarker = marker;
	   	console.log("click :"+placeNumber);
	   	selectedMarkerChartId = "chart" + index;  // 각 마커에 대한 고유한 ID 생성
	      
        
        $.ajax({
						    url: '/plan/genderList',
						    type: 'GET',
						    data: { recommandPlaceNumber : placeNumber },
						    success: function(data2){
						    	var count1 = data2[0].count;
					            var count2 = data2[1].count;
						    	console.log(data2[0].count);
						    	console.log(data2[1].count);
						    	
						    	var total = count1 + count2;
						    	  var ratio1 = count1 / total;
						    	  var ratio2 = count2 / total;
						    	  
						    	  var percentage1 = (ratio1 * 100).toFixed(2) + "%";
						    	  var percentage2 = (ratio2 * 100).toFixed(2) + "%";

						    	  var ctx = document.getElementById("chartCanvas").getContext("2d");
						    	  if (selectedMarkerChart1) {
						              selectedMarkerChart1.destroy();
						            }
						            selectedMarkerChart1 =new Chart(ctx, {
						    	    type: 'pie',
						    	    data: {
						    	      labels: ["여성 (" + percentage1 + ")", "남성 (" + percentage2 + ")"],
						    	      datasets: [{
						    	        data: [ratio1, ratio2],
						    	        backgroundColor: ['#FF6384', '#36A2EB'],
						    	        borderWidth: 1
						    	      }]
						    	    },
					                options: {
					                  responsive: true
					                }
					              });
					            },
					            error: function (xhr, status, error) {
					              console.error(error);
					            }
					          });
				      $.ajax({
						    url: '/plan/birthList',
						    type: 'GET',
						    data: { recommandPlaceNumber : placeNumber },
						    success: function(data3){
						    	var ageCategories = {
						    		      "10대": 0,
						    		      "20대": 0,
						    		      "30대": 0,
						    		      "40대": 0,
						    		      "50대": 0,
						    		      "60대": 0
						    		    };
						    	for(var i=0;i<data3.length;i++){
						    		var birthYear = parseInt(data3[i].userBirth);
						    	      var age = new Date().getFullYear() - birthYear + 1;

						    	      if (age >= 10 && age < 20) {
						    	        ageCategories["10대"]++;
						    	      } else if (age >= 20 && age < 30) {
						    	        ageCategories["20대"]++;
						    	      } else if (age >= 30 && age < 40) {
						    	        ageCategories["30대"]++;
						    	      } else if (age >= 40 && age < 50) {
						    	        ageCategories["40대"]++;
						    	      } else if (age >= 50 && age < 60) {
						    	        ageCategories["50대"]++;
						    	      } else {
						    	        ageCategories["60대"]++;
						    	      }
						    	}
						    	var ctx = document.getElementById("chartCanvas2").getContext("2d");
						    	if (selectedMarkerChart2) {
						              selectedMarkerChart2.destroy();
						            }
						            selectedMarkerChart2 = new Chart(ctx, {
						    	      type: 'bar',
						    	      data: {
						    	        labels: Object.keys(ageCategories).map(function(label) {
						    	          return label + "(" + ageCategories[label] + "명)";
						    	        }),
						    	        datasets: [{
						    	          label: '연령대 비율',
						    	          data: Object.values(ageCategories),
						    	          backgroundColor: 'rgba(0, 123, 255, 0.7)',
						    	          borderColor: 'rgba(0, 123, 255, 1)',
						    	          borderWidth: 1
						    	        }]
						    	      },
						    	      options: {
						    	        responsive: true,
						    	        scales: {
						    	          y: {
						    	            beginAtZero: true,
						    	            ticks: {
						    	              stepSize: 1,
						    	              callback: function(value) {
						    	                return value.toString();
						    	              }
						    	            }
						    	          },
						    	          x: {
						    	            grid: {
						    	              display: false
						    	            }
						    	          }
						    	        },
						    	        plugins: {
						    	          legend: {
						    	            display: false
						    	          },
						    	          tooltip: {
						    	            callbacks: {
						    	              label: function(context) {
						    	                var label = context.label || '';
						    	                var value = context.parsed.y || 0;
						    	                return label + ': ' + value;
						    	              }
						    	            }
						    	          }
						    	        }
						    	      }
						    	    });
						    	  },
					            error: function (xhr, status, error) {
					              console.error(error);
					            }
					          });
	    });
	  })(i);
	}
    createPlusClickEvent();
  }
  document.addEventListener('DOMContentLoaded', function () {
    var restaurantBtn = document.getElementById('restaurant-btn');
    restaurantBtn.addEventListener('click', function () {
      fetchUpdatedMarkers('restaurant');
    });

    var youtubeBtn = document.getElementById('youtube-btn');
    youtubeBtn.addEventListener('click', function () {
      fetchUpdatedMarkers('youtube');
    });

    var touristBtn = document.getElementById('tourist-btn');
    touristBtn.addEventListener('click', function () {
      fetchUpdatedMarkers('tourist');
    });

    var hillBtn = document.getElementById('hill-btn');
    hillBtn.addEventListener('click', function () {
      fetchUpdatedMarkers('hill');
    });

    var ollegilBtn = document.getElementById('ollegil-btn');
    ollegilBtn.addEventListener('click', function () {
      fetchUpdatedMarkers('ollegil');
    });
  });
  function createPlusClickEvent() {
	  var plusElements = document.querySelectorAll('#list-plus');
	  plusElements.forEach(function(plus) {
	    plus.addEventListener('click', function() {
	      // 클릭 이벤트 발생 시 실행되는 함수
	      // 클릭한 plus 요소의 부모인 main-left div를 찾아 복사
	      var mainLeft = this.parentNode;
	      var coursePlan = document.querySelector('.course-plan');

	      // main-left div 복사
	      var clonedMainLeft = mainLeft.cloneNode(true);

	      // course-plan div에서 기존의 list div를 찾아 가져옴
	      var listContainer = coursePlan.querySelector('.course-list');

	      var isDuplicate = Array.from(listContainer.querySelectorAll('.main-left')).some(function(listItem) {
	        var listItemLabel = listItem.querySelector('#list-name-label label');
	        var listItemText = listItemLabel ? listItemLabel.textContent : '';
	        var clonedMainLeftLabel = clonedMainLeft.querySelector('#list-name-label label');
	        var clonedMainLeftText = clonedMainLeftLabel ? clonedMainLeftLabel.textContent : '';
	        if (listItemText === clonedMainLeftText) {
	          return true;  // 중복되는 경우 true 반환
	        }

	        return false;  // 중복되지 않는 경우 false 반환
	      });
	      if (isDuplicate) {
	        alert('이미 추가된 장소입니다.'); // 중복된 장소인 경우 경고창 표시
	        return;  // 중복되는 장소인 경우 함수 종료
	      }

	      // 복사한 main-left div에서 plus 이미지를 제거
	      var plusElement = clonedMainLeft.querySelector('#list-plus');
	      plusElement.remove();

	      // list-name-heartimg 요소 제거
	      var listNameHeartImg = clonedMainLeft.querySelector('#list-name-heartimg');
	      listNameHeartImg.remove();

	      var listMinusDiv = document.createElement('div');
	      listMinusDiv.setAttribute('id', 'list-minus');

	      // list-minus 이미지 생성
	      var listMinusImg = document.createElement('img');
	      listMinusImg.setAttribute('src', './resources/image/minus.png');
	      listMinusImg.setAttribute('alt', '');

	      // list-minus 이미지를 list-minus div에 추가
	      listMinusDiv.appendChild(listMinusImg);

	      // 복사한 main-left div에 list-minus div 추가
	      clonedMainLeft.appendChild(listMinusDiv);
	      
	      // 현재 Day에 해당하는 course-list에만 복사된 main-left div 추가
	      var currentCourseList = document.getElementById(`course-list-${currentDay}`);
	      var clonedMainLeftCopy = clonedMainLeft.cloneNode(true);
	      currentCourseList.appendChild(clonedMainLeftCopy);

	      // 현재 Day에 해당하는 course-list 다시 표시
	      showCurrentDay();

	    });
	  });
	  // minus 버튼 클릭 이벤트 처리
	  var coursePlan = document.querySelector('.course-plan');
	  coursePlan.addEventListener('click', function(event) {
	    if (event.target.parentNode && event.target.parentNode.id === 'list-minus') {
	      var parentMainLeft = event.target.parentNode.parentNode;
	      parentMainLeft.remove();
	      showCurrentDay();
	    }
	    });
	}

  let nowMonth = new Date(); // 현재 달을 페이지를 로드한 날의 달로 초기화
  let today = new Date(); // 페이지를 로드한 날짜를 저장
  today.setHours(0, 0, 0, 0); // 비교 편의를 위해 today의 시간을 초기화

  let selectedStartDate = null; // 선택된 시작 날짜
  let selectedEndDate = null; // 선택된 종료 날짜

  // 달력 생성 : 해당 달에 맞춰 테이블을 만들고, 날짜를 채워 넣는다.
  function buildCalendar() {
    let firstDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth(), 1); // 이번달 1일
    let lastDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, 0); // 이번달 마지막날

    let tbody_Calendar = document.querySelector(".Calendar-table > tbody");
    document.getElementById("calYear").innerText = nowMonth.getFullYear(); // 연도 숫자 갱신
    document.getElementById("calMonth").innerText = leftPad(nowMonth.getMonth() + 1); // 월 숫자 갱신

    while (tbody_Calendar.rows.length > 0) { // 이전 출력결과가 남아있는 경우 초기화
      tbody_Calendar.deleteRow(tbody_Calendar.rows.length - 1);
    }

    let nowRow = tbody_Calendar.insertRow(); // 첫번째 행 추가

    for (let j = 0; j < firstDate.getDay(); j++) { // 이번달 1일의 요일만큼
      let nowColumn = nowRow.insertCell(); // 열 추가
    }

    for (let nowDay = firstDate; nowDay <= lastDate; nowDay.setDate(nowDay.getDate() + 1)) { // day는 날짜를 저장하는 변수, 이번달 마지막날까지 증가시키며 반복
      let nowColumn = nowRow.insertCell(); // 새 열을 추가하고
      nowColumn.innerText = leftPad(nowDay.getDate()); // 추가한 열에 날짜 입력

      if (nowDay.getDay() === 0) { // 일요일인 경우 글자색 빨강으로
        nowColumn.style.color = "#DC143C";
      }
      if (nowDay.getDay() === 6) { // 토요일인 경우 글자색 파랑으로 하고
        nowColumn.style.color = "#0000CD";
        nowRow = tbody_Calendar.insertRow(); // 새로운 행 추가
      }

      if (nowDay < today) { // 지난날인 경우
        nowColumn.className = "pastDay";
      } else if (nowDay.getFullYear() === today.getFullYear() && nowDay.getMonth() === today.getMonth() && nowDay.getDate() === today.getDate()) { // 오늘인 경우
        nowColumn.className = "today";
        nowColumn.onclick = function() {
          choiceDate(this);
        };
      } else { // 미래인 경우
        nowColumn.className = "futureDay";
        nowColumn.onclick = function() {
          choiceDate(this);
        };
      }

      // 선택된 날짜 범위에 해당하는 스타일 적용
      if (selectedStartDate && selectedEndDate && nowDay >= selectedStartDate && nowDay <= selectedEndDate) {
        nowColumn.classList.add("choiceDay");
      } else if (selectedStartDate && !selectedEndDate && nowDay.getTime() === selectedStartDate.getTime()) {
        nowColumn.classList.add("choiceDay");
      }
    }
    // 선택된 날짜가 없을 때 Day 초기화
    if (!selectedStartDate && !selectedEndDate) {
      const courseColorDay = document.querySelector(".course-color-day");
      courseColorDay.innerHTML = "";
    }
  }
//전역 변수로 days와 currentDay 선언
  let days;
  let currentDay = 1;

//적용 버튼 클릭 시 실행되는 함수
  function applyDate() {
    if (selectedStartDate && selectedEndDate) {
      days = getDayDiff(selectedStartDate, selectedEndDate);
      const courseColorDay = document.querySelector(".course-color-day");
      courseColorDay.innerHTML = ""; // 기존의 Day 숫자 초기화
      
      const coursePlan = document.querySelector(".course-plan");
      coursePlan.innerHTML = ""; // 기존의 course-list 초기화
      // 체크박스 선택 상태 초기화
      
	  
    // 7개의 checkbox 생성
    for (let i = 1; i <= days; i++) {
    	
    	const courseColor = document.createElement("div");
  	  courseColor.className = "course-color-check";
  	  
  	courseColor.id = `course-color-check-${i}`; // 고유한 ID 설정
  	courseColor.style.display = i === 1 ? "block" : "none"; // 첫 번째 day에 해당하는 course-list는 보여주기, 나머지는 숨김
  	  const colorh5 = document.createElement("div");
  	  const colorh5Element = document.createElement("h5");
  	  colorh5Element.textContent = '경로색상';
  	  colorh5.appendChild(colorh5Element);
  	  courseColor.appendChild(colorh5);
  	  
      // 복원할 체크박스 선택 상태가 있는 경우 복원
      if (checkboxStates[i]) {
        restoreCheckboxStates(i);
      }
    	for (let j = 1; j <= 7; j++) {
      // div 요소 생성
      	const divElement = document.createElement("div");
      
      // label 요소 생성
	      const labelElement = document.createElement("label");
    	  labelElement.setAttribute("for", `chk${i}-${j}`);

      // checkbox 요소 생성
const checkboxElement = document.createElement("input");
checkboxElement.setAttribute("type", "checkbox");
checkboxElement.setAttribute("id", `chk${i}-${j}`);
    // 이벤트 핸들러 할당
    checkboxElement.addEventListener("click", function () {
      handleCheckboxClick(i, j); // 체크박스의 고유한 정보 전달
    });

      // i 요소 생성
	      const iElement = document.createElement("i");
    	  iElement.classList.add(`circle${j}`);

      // label 요소에 checkbox와 i 요소 추가
	      labelElement.appendChild(checkboxElement);
    	  labelElement.appendChild(iElement);
      
          divElement.appendChild(labelElement);
      
     	  courseColor.appendChild(divElement);
      
      	  coursePlan.appendChild(courseColor);
    	}
      
    	const daydivElement = document.createElement("div");
        const dayElement = document.createElement("h5");
        dayElement.textContent = `Day${i}`;
        dayElement.dataset.day = i; // 데이터 속성으로 day 값 설정
        dayElement.addEventListener("click", function () {
          changeCurrentDay(parseInt(this.dataset.day)); // day 값을 정수로 변환하여 전달
        });
        
        
		daydivElement.appendChild(dayElement);
		
        courseColorDay.appendChild(daydivElement);
		
        const courseList = document.createElement("div");
        courseList.className = "course-list";
        courseList.id = `course-list-${i}`; // 고유한 ID 설정
        courseList.style.display = i === 1 ? "block" : "none"; // 첫 번째 day에 해당하는 course-list는 보여주기, 나머지는 숨김

        // Create hidden input element for the selected date
        const inputElement = document.createElement("input");
        inputElement.type = "hidden";
        inputElement.name = "planDate";

        const currentDate = new Date(selectedStartDate);
        currentDate.setDate(currentDate.getDate() + i - 1);
        const year = currentDate.getFullYear();
        const month = leftPad(currentDate.getMonth() + 1);
        const day = leftPad(currentDate.getDate());
        const selectedDate = `${year}-${month}-${day}`;
        inputElement.value = selectedDate;

        courseList.appendChild(inputElement);

        coursePlan.appendChild(courseList);
      }
	  
      const daybuttondiv = document.createElement("div");
   	  // 미리보기 버튼 생성
      const previewButton = document.createElement("button");
      previewButton.setAttribute("type", "button");
      previewButton.setAttribute("onclick", "coursePreview()");
      previewButton.textContent = "미리보기";

      // 등록 버튼 생성
      const submitButton = document.createElement("button");
      submitButton.setAttribute("type", "submit");
      submitButton.textContent = "등록";
	  
      daybuttondiv.appendChild(previewButton);
      daybuttondiv.appendChild(submitButton);
      
      courseColorDay.appendChild(daybuttondiv);
      
      initializeCheckboxStates();	
      
      // Day 숫자 초기 설정 (첫 번째 Day를 선택한 상태로 설정)
      const firstDayElement = document.querySelector(".course-color-day h5");
      firstDayElement.classList.add("active");
    } else {
      const courseColorDay = document.querySelector(".course-color-day");
      courseColorDay.innerHTML = ""; // Day 숫자 제거

      const coursePlan = document.querySelector(".course-plan");
      coursePlan.innerHTML = ""; // course-list 제거
    }
  }

//초기화 함수 호출
  initializeCheckboxStates();
  // 다음날 버튼 클릭 시 실행되는 함수
  function nextDay() {
    if (currentDay < days) {
      const currentCourseList = document.getElementById(`course-list-${currentDay}`);
      const currentCourseColor = document.getElementById(`course-color-check-${currentDay}`);
      currentCourseList.style.display = "none";
      currentCourseColor.style.display = "none";
      currentDay++;

      const nextCourseList = document.getElementById(`course-list-${currentDay}`);
      const nextCourseColor = document.getElementById(`course-color-check-${currentDay}`);
      nextCourseList.style.display = "block";
      nextCourseColor.style.display = "block";

      // Day 숫자 변경
      const courseColorDay = document.querySelector(".course-color-day");
      const dayElements = courseColorDay.getElementsByTagName("h5");
      for (let i = 0; i < dayElements.length; i++) {
        const dayElement = dayElements[i];
        if (parseInt(dayElement.dataset.day) === currentDay) {
          dayElement.classList.add("active");
        } else {
          dayElement.classList.remove("active");
        }
      }
    }
  }

  // 이전날 버튼 클릭 시 실행되는 함수
  function previousDay() {
    if (currentDay > 1) {
      const currentCourseList = document.getElementById(`course-list-${currentDay}`);
      const currentCourseColor = document.getElementById(`course-color-check-${currentDay}`);
      currentCourseList.style.display = "none";
      currentCourseColor.style.display = "none";
      currentDay--;

      const previousCourseList = document.getElementById(`course-list-${currentDay}`);
      const previousCourseColor = document.getElementById(`course-color-check-${currentDay}`);
      previousCourseList.style.display = "block";
      previousCourseColor.style.display = "block";

      // Day 숫자 변경
      const courseColorDay = document.querySelector(".course-color-day");
      const dayElements = courseColorDay.getElementsByTagName("h5");
      for (let i = 0; i < dayElements.length; i++) {
        const dayElement = dayElements[i];
        if (parseInt(dayElement.dataset.day) === currentDay) {
          dayElement.classList.add("active");
        } else {
          dayElement.classList.remove("active");
        }
      }
    }
  }

  // 현재 표시 중인 Day 변경 함수
  function changeCurrentDay(day) {
    if (day !== currentDay) {
      const currentCourseList = document.getElementById(`course-list-${currentDay}`);
      currentCourseList.style.display = "none";
      currentDay = day;

      const nextCourseList = document.getElementById(`course-list-${currentDay}`);
      nextCourseList.style.display = "block";

      // Day 숫자 변경
      const courseColorDay = document.querySelector(".course-color-day");
      const dayElements = courseColorDay.getElementsByTagName("h5");
      for (let i = 0; i < dayElements.length; i++) {
        const dayElement = dayElements[i];
        if (parseInt(dayElement.dataset.day) === currentDay) {
          dayElement.classList.add("active");
        } else {
          dayElement.classList.remove("active");
        }
      }
    }
  }
  // 현재 Day에 해당하는 course-list 보여주는 함수
  function showCurrentDay() {
    const courseLists = document.querySelectorAll(".course-list");
    courseLists.forEach((courseList, index) => {
      if (index + 1 === currentDay) {
        courseList.style.display = "block";
      } else {
        courseList.style.display = "none";
      }
    });
  }
  // 날짜 선택
  function choiceDate(nowColumn) {
    const selectedDay = new Date(nowMonth.getFullYear(), nowMonth.getMonth(), parseInt(nowColumn.innerText));

    if (selectedStartDate && selectedEndDate) {
      // 이미 시작 날짜와 종료 날짜가 선택된 경우
      selectedStartDate = selectedEndDate = null; // 선택된 날짜 초기화
    } else if (selectedStartDate) {
      // 시작 날짜가 이미 선택된 경우
      if (selectedDay < selectedStartDate) {
        selectedEndDate = selectedStartDate;
        selectedStartDate = selectedDay;
      } else if (selectedDay > selectedStartDate) {
        selectedEndDate = selectedDay;
      } else {
        selectedStartDate = null; // 선택된 날짜 초기화
      }
    } else {
      // 시작 날짜가 선택되지 않은 경우
      selectedStartDate = selectedDay;
    }

    buildCalendar(); // 달력 다시 생성
  }
//날짜 차이 계산
  function getDayDiff(startDate, endDate) {
    const oneDay = 24 * 60 * 60 * 1000; // 1일의 밀리초 수
    const diffDays = Math.round(Math.abs((startDate - endDate) / oneDay)) + 1; // 날짜 차이 계산
    return diffDays;
  }
  // 이전달 버튼 클릭
  function prevCalendar() {
    nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() - 1, nowMonth.getDate()); // 현재 달을 1 감소
    buildCalendar(); // 달력 다시 생성
  }

  // 다음달 버튼 클릭
  function nextCalendar() {
    nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, nowMonth.getDate()); // 현재 달을 1 증가
    buildCalendar(); // 달력 다시 생성
  }


	// input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
	function leftPad(value) {
		if (value < 10) {
			value = "0" + value;
			return value;
		}
		return value;
	}
	function coursePreview() {
		  function getInputValues() {
		    const courseLists = document.querySelectorAll('.course-plan .course-list');
		    const values = [];

		    courseLists.forEach((courseList, index) => {
		      const inputDateElement = courseList.querySelector('input[name="planDate"]');
		      const inputLonElements = courseList.querySelectorAll('input[name="planLon"]');
		      const inputLatElements = courseList.querySelectorAll('input[name="planLat"]');

		      const inputDateValue = inputDateElement.value;
		      const lonLatPairs = [];

		      inputLonElements.forEach((inputLonElement, lonIndex) => {
		        const inputLatElement = inputLatElements[lonIndex];

		        const inputLonValue = inputLonElement.value;
		        const inputLatValue = inputLatElement.value;

		        lonLatPairs.push({
		          lon: inputLonValue,
		          lat: inputLatValue
		        });
		      });

		      values.push({
		        index: index + 1,
		        date: inputDateValue,
		        lonLatPairs: lonLatPairs
		      });
		    });

		    return values;
		  }
		  
		  const inputValues = getInputValues();
		  console.log(inputValues);

		  $.ajax({
			    url: '/plan/course',
			    type: 'POST',
			    data: JSON.stringify(inputValues),
			    contentType: 'application/json',
			    success: function(response) {
			      var popupWindow = window.open('', 'Course Preview', 'width=800,height=600');
			      popupWindow.document.open();
			      popupWindow.document.write(response);
			      popupWindow.document.close();
			    }
			  });
		 }

	// 체크박스 클릭 이벤트 핸들러
	function handleCheckboxClick(day, index) {
	  const checkboxElement = document.getElementById(`chk${day}-${index}`);
	  const checkboxes = document.querySelectorAll(`.course-color-check-${day} input[type="checkbox"]`);

	  checkboxes.forEach(function (checkbox) {
	    checkbox.checked = (checkbox === checkboxElement);
	  });
	}
		function convertRGBToColorName(rgbValue) {
		  var colorMap = {
		    'rgb(255, 0, 0)': 'Red',
		    'rgb(255, 165, 0)': 'Orange',
		    'rgb(255, 255, 0)': 'Yellow',
		    'rgb(0, 128, 0)': 'Green',
		    'rgb(0, 0, 255)': 'Blue',
		    'rgb(0, 0, 128)': 'Navy',
		    'rgb(128, 0, 128)': 'Purple'
		  };

		  return colorMap[rgbValue] || 'Unknown';
		}

		// 체크박스 선택 상태 초기화 함수
		function initializeCheckboxStates() {
		  for (let i = 1; i <= days; i++) {
		    checkboxStates[i] = {};
		    for (let j = 1; j <= 7; j++) {
		      checkboxStates[i][j] = false;
		    }
		  }
		}

		// 체크박스 선택 상태를 복원하는 함수
		function restoreCheckboxStates(day) {
		  for (let j = 1; j <= 7; j++) {
		    const checkboxElement = document.getElementById(`chk${day}-${j}`);
		    if (checkboxElement) {
		      checkboxElement.checked = checkboxStates[day][j];
		    }
		  }
		}

		// 체크박스 클릭 이벤트 핸들러
		function handleCheckboxClick(day, index) {
		  const checkboxElement = document.getElementById(`chk${day}-${index}`);
		  if (checkboxElement) {
		    checkboxStates[day][index] = checkboxElement.checked;
		  }
		}
	window.onload = function () {
		  buildCalendar();
		  initTmap();
	};	
</script>
<title>Insert title here</title>
</head>
<body>
	<div class="header">
		<div class="header-category">
			<label id="label-left-course">코스추천</label> <label
				id="label-left-community">커뮤니티</label> <label id="label-left-chat">채팅방</label>
			<img src="./resources/image/logo.png" alt="" id="logimg"> <label
				id="label-right-login">로그인</label> <label id="label-right-register">회원가입</label>
		</div>
	</div>
	<div class="main"> 
		<div class="main-left">
			<h2>사용자 추천</h2>
			<div class="list">
				<div id="left_block" th:each="restaurant : ${placeRestaurantList}">
					<div id="list-img">
						<img th:src="@{/resources/image/place/__${restaurant.placeName}__.jpg}" alt="">
					</div>
					<div id="list-name">
						<div id="list-name-label">
							<label th:text="${restaurant.placeName}">곽지식당</label>
						</div>
						<div id="list-name-heartimg">
							<div>
								<img src="./resources/image/heart.png" alt="" id="heartimg">
							</div>
							<div id="list-name-heartimg-label">
								<label th:text="${restaurant.placeGood}">456</label>
							</div>
						</div>
					</div>
					<div id="list-plus">
						<img src="./resources/image/plus.png" alt="" id="plus">
					</div>
					<input type="hidden" name="planLon" th:value="${restaurant.placeLon}">
					<input type="hidden" name="planLat" th:value="${restaurant.placeLat}">
				</div>
			</div>
			
		</div>
		<div class="placemenu" style="display: none;">
			<div id="placemenu_button">
				<button>x</button>
			</div>
			<div id="placemenu_heart">
				<a href="/review">추천하기</a>
			</div>
			<div id="datatest1"></div>
			<div id="datatest2"></div>
			<div id="datatest3"></div>
			<div id="datatest4"></div>
			<div id="datatest5"></div>
			<div id="datatest6"></div>
			<div id="datatest7"></div>
			<div id="datatest8"></div>
			<div id="datatest0"></div>
			<div id="chart">
				<canvas id="chartCanvas"></canvas>
			</div>
			<div id="chart2">
				<canvas id="chartCanvas2"></canvas>
			</div>

		</div>

		<div class="main-center">
			<div id="map_div"></div>
			<div id="category-button">
				<button id="restaurant-btn">음식점</button>
				<button id="youtube-btn">유튜브맛집</button>
				<button id="tourist-btn">관광지</button>
				<button id="hill-btn">오름</button>
				<button id="ollegil-btn">올레길</button>
			</div>
		</div>
		<div class="main-right">
			<div class="calendar">
				<table class="Calendar-table">
					<thead>
						<tr>
							<td onClick="prevCalendar();" style="cursor: pointer;">&#60;</td>
							<td colspan="5"><span id="calYear"></span>년 <span
								id="calMonth"></span>월</td>
							<td onClick="nextCalendar();" style="cursor: pointer;">&#62;</td>
						</tr>
						<tr>
							<td>일</td>
							<td>월</td>
							<td>화</td>
							<td>수</td>
							<td>목</td>
							<td>금</td>
							<td>토</td>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<div>
					<button type="button" th:onclick="applyDate()">적용</button>
				</div>
			</div>
			<form action="/plan/createplan" method="post">
			<div class="course">
				<div class="course-color-day">
						
				</div>
				<div class="course-plan">
					<div class="course-color-check"></div>
				</div>
					<div>
  						<button type="button" onclick="previousDay()">이전날</button>
  						<button type="button" onclick="nextDay()">다음날</button>
					</div>
			</div>
			</form>
		</div>
	</div>
</body>
</html>