<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FindYourID</title>
<link rel="stylesheet" href="/resources/css/pwfindform.css" type="text/css">
</head>
<body>
	<nav id="menu">
		<div style="text-align: center;">
			<img id="logo" src="/resources/image/logo.png">
		</div>
		<ul>
			<li class="linka" ><a class="link" href="#">일정생성</a></li>
			<li class="linka" ><a class="link" href="#">커뮤니티</a></li>
			<li class="linka" ><a class="link" href="#">채팅방</a></li>
			<li class="linkb" ><a class="link" href="#">마이페이지</a></li>
		</ul>
	</nav>

	<div class="signup1">
		<div class="signup2">
			<div class="signup_header">
				<div id="signin">패스워드 찾기</div>
				
			</div>
			<form id="pwfind" method="post">
			<div class="signup_body">
					<div class="loginForm">
                        <input type="text"	id="userID" name="userID" placeholder=" ID 입력">  
					</div>
					<div class="loginForm">
                        <input type="text"	id="userEmail" name="userEmail" placeholder=" 이메일 입력">
					</div>
					<button id="findPwButton" type="button" th:onclick="findPw();">확인</button>
			</div>
			</form>
					<ul class="wrap">
						<hr class="line">
						<li>&nbsp;&nbsp;<a href="/login/registerform" id="txt">회원가입</a></li>&nbsp; /&nbsp;
						<li><a href="/login/idfindform" id="txt">아이디 찾기</a></li>&nbsp;&nbsp;
						<hr class="line">
					</ul>
		
			</div>
		</div>
	
	
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
   <script th:inline="javascript"> 
   
   function findPw(){
      
       var userid = document.getElementById("userID");
       var useremail = document.getElementById("userEmail");
       var useridvalue = document.getElementById("userID").value;
       var useremailvalue = document.getElementById("userEmail").value;
       var pwform = document.getElementById("pwfind");
       console.log(userid);
       console.log(useridvalue);
       if (useridvalue == "") {
         alert("아이디를 입력해 주세요.");
         userid.focus();
         return false;
      }
      if (useremailvalue == "") {
         alert("이메일을 입력해 주세요.");
         useremail.focus();
         return false;
      }
      
      //pwform.attr("action", "/login/pwfixform").submit();
      pwform.action = "/login/pwfixform";
      pwform.submit();
   }
      
   </script>
</body>
</html>