<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FindYourID</title>
<link rel="stylesheet" href="/resources/css/pwfindform.css" type="text/css">
</head>
<body>
	<nav id="menu">
		<div style="text-align: center;">
			<img id="logo" src="/resources/image/logo.png">
		</div>
		<ul>
			<li class="linka" ><a class="link" href="#">일정생성</a></li>
			<li class="linka" ><a class="link" href="#">커뮤니티</a></li>
			<li class="linka" ><a class="link" href="#">채팅방</a></li>
			<li class="linkb" ><a class="link" href="#">마이페이지</a></li>
		</ul>
	</nav>

	<div class="signup1">
		<div class="signup2">
			<div class="signup_header">
				<div id="signin">패스워드 수정</div>
				
			</div>
			<div class="signup_body">
					<div class="loginForm">
                        <input type="text"	id="userPW" name="userPW" placeholder=" PW 입력">  
					</div>
					<div class="loginForm">
                        <input type="text"	id="userPW2" name="userPW2" placeholder=" PW 확인">
					</div>
					<button id="findPwButton" type="button" th:onclick="fixPw();">확인</button>
						
					<ul class="wrap">
						<hr class="line">
						<li>&nbsp;&nbsp;<a href="/login/registerform" id="txt">회원가입</a></li>&nbsp; /&nbsp;
						<li><a href="/login/idfindform" id="txt">아이디 찾기</a></li>&nbsp;&nbsp;
						<hr class="line">
					</ul>
			</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
   <script th:inline="javascript"> 
   
   function fixPw(){
       var dto = [[${dto}]];
       console.log(dto.userID);
       var userpw = document.getElementById("userPW");
       var userpw2 = document.getElementById("userPW2");
       var userpwvalue = document.getElementById("userPW").value;
       var userpw2value = document.getElementById("userPW2").value;
       
       var userID = dto.userID;
       var userEmail = dto.userEmail;
       
       if (userpwvalue == "") {
         alert("패스워드를 입력 해 주세요.");
         userpw.focus();
         return false;
      }
      if (userpw2value == "") {
         alert("패스워드 확인 해 주세요.");
         userpw2.focus();
         return false;
      }
      // 정규식 회원가입때 해논거 나중에 끌고오자 지금바쁨.
       $.ajax({
          url : "/login/pwfix",
          type : "post",
          data : { userPW : userpwvalue,
        	       userID : userID,
        	       userEmail : userEmail
          }
       })
       		.done(function (result) {
                console.log(result);
                alert(result+"님의 비밀번호 수정이 완료되었습니다.");
                location.href="/login/usermain";
            })
            .fail(function(jqXHR) {
                console.log(jqXHR);
                alert("아이디와 이메일을 확인해주세요.");
            }) 
   }
   </script>

</body>
</html>