<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>RegisterForm</title>
<link rel="stylesheet" href="/resources/css/registerform.css"
	type="text/css">
</head>
<body>
	<div class="header">
		<div class="header-category">
			<a href="/course" id="label-left-course">코스추천</a>
			 <a href="/community/communitymain" id="label-left-community">커뮤니티</a> 
			 <a href="/chatting" id="label-left-chat">채팅방</a>
			<a href="/"><img src="/resources/image/logo.png" alt="" id="logimg"></a>
			<!-- 로그인전 --> 
				<div th:if="${session.login == null}">
					<a href="/login" id="label-right-login">로그인</a> 
					<a href="/login/registerform" id="label-right-login">회원가입</a>
				</div>
				<!-- 로그인 후 -->
				<div th:if="${session.login != null}" >
					<a href="/login/logout" id="label-right-login">로그아웃</a>
					<a href="/login/usermain" id="label-right-register">마이페이지</a>
				</div> 
		</div>
	</div>
	<div class="signup1">
		<div class="signup2">
			<div class="signup_header">
				<div id="signin">회원가입</div>

			</div>
			<div class="signup_body">
			<form action="/login/register">
					<div class="loginForm">
						&nbsp;이름 <input type="text" id="userName" name="userName">
					</div>
					<div class="loginForm">
						&nbsp;생년월일 <input type="date" id="userBirth" name="userBirth" min="1950-01-01" max="" >
					</div>
					<div class="male">
						&nbsp;남자<input id="male" type="radio" name="userGender" value="M" checked /> 
					</div>
					<div class="female">
						여자<input id="female" type="radio" name="userGender" value="F" />
					</div>
					<div class="loginForm">
						&nbsp;아이디 <button class="idcheck" type="button" th:onclick="idCheck();">중복체크</button><input type="text" id="userID" name="userID">
					</div>
					<div class="loginForm">
						&nbsp;비밀번호 <input type="password" id="userPW" name="userPW">
					</div>
					<div class="loginForm">
						&nbsp;비밀번호 확인 <input type="password" id="userPW2" name="userPW2">
					</div>
					<div class="loginForm">
						&nbsp;이메일 <input type="text" id="userEmail" name="userEmail">
					</div>
					<!--  
					<div class="loginForm">
						&nbsp;이메일인증 <input type="text" id="userEmailcheck" name="userEmailcheck" placeholder="인증번호6자리입력" disabled="disabled" maxlength="6">
					</div>
					-->
					<!--  
					<div class="loginForm">
						&nbsp;전화번호 <input type="text" id="userPhone" name="userPhone">
					</div>
					-->

					<!-- temp? -->
					<button id="signinButton" type="submit" onclick="return regist_check();">회원가입</button>
					</form>
				<button id="AuthButton" type="submit">이메일 인증</button>


			</div>
		</div>
	</div>
	
<script src="/resources/js/register.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

</body>
</html>

