<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>RegisterForm</title>
<link rel="stylesheet" href="/resources/css/registerform.css"
	type="text/css">
</head>
<body>
	<div class="header">
		<div class="header-category">
			<div class="header-left">
				<a href="/course/recommandcourse" id="label-left-course">코스추천</a>
				<a href="/community/communitymain" id="label-left-community">커뮤니티</a> 
				<a href="/chatting" id="label-left-chat">동행구하기</a>
			</div>
			<div class="header-center">
				<a href="/"><img src="/resources/image/logo.png" alt="" id="logimg"></a>
			</div>
			<!-- 로그인전 --> 
			<div class ="header-right" th:if="${session.login == null}">
				<a href="/login" id="label-right-login">로그인</a> 
				<a href="/login/registerform" id="label-right-login">회원가입</a>
			</div>
				<!-- 로그인 후 -->
			<div class ="header-right" th:if="${session.login != null}" >
				<a href="/login/logout" id="label-right-login">로그아웃</a>
				<a href="/login/usermain" id="label-right-register">마이페이지</a>				</div> 
			</div>
	</div>
	<div class="signup1">
		<div class="signup2">
			<div class="signup_header">
				<div id="signin">회원가입</div>

			</div>
			<div class="signup_body">
				<form action="/login/register">
					<div class="loginForm">
						&nbsp;이름 <input type="text" id="userName" name="userName">
					</div>
					<div class="loginForm">
						&nbsp;생년월일 <input type="date" id="userBirth" name="userBirth" min="1950-01-01" max="" >
					</div>
					<div class="male">
						&nbsp;남자<input id="male" type="radio" name="userGender" value="M" checked /> 
					</div>
					<div class="female">
						여자<input id="female" type="radio" name="userGender" value="F" />
					</div>
					<div class="loginForm">
						&nbsp;아이디 <button class="idcheck" type="button" th:onclick="idCheck();">중복체크</button><input type="text" id="userID" name="userID">
					</div>
					<div class="loginForm">
						&nbsp;비밀번호 <input type="password" id="userPW" name="userPW">
					</div>
					<div class="loginForm">
						&nbsp;비밀번호 확인 <input type="password" id="userPW2" name="userPW2">
					</div>
					<div class="loginForm">
						&nbsp;이메일 <button id="sendAuthButton" type="button" onclick="sendEmailConfirm()" >인증번호 전송</button>
						<input type="text" id="userEmail" name="userEmail" disabled>
					</div>
					<div class="loginForm">
						&nbsp;인증번호 입력 <input type="text" id="authCode" name="authCode" placeholder="인증번호8자리입력" maxlength="8">
					</div>
					<!--  
					<div class="loginForm">
						&nbsp;전화번호 <input type="text" id="userPhone" name="userPhone">
					</div>
					-->

					<!-- temp? -->
					<button id="userAuthButton" type="button" onclick="emailAuth()">이메일 인증</button>
					<button id="signinButton" type="submit" onclick="return regist_check();" disabled>회원가입</button>
				</form>
					<input type="hidden" id="acd">

			</div>
		</div>
	</div>
	
<script src="/resources/js/register.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script th:inline="javascript">
function emailAuth(){
	/* var authcode = [[${session.authcode}]]; */
	var sendauthcode = document.getElementById("acd").value;
	var userauthcode = document.getElementById("authCode").value;
	console.log(sendauthcode);
	console.log(userauthcode);
	if (sendauthcode == ""){
		alert("이메일 인증번호 요청을 해 주세요.")
		return false;
	}
	if(userauthcode == ""){
		alert("받으신 인증번호를 입력 해 주세요.")
		return false;
	}
	if (sendauthcode == userauthcode){
	document.querySelector('#signinButton').disabled = false;
	document.querySelector('#userEmail').readOnly = true;
	alert(" 인증번호가 일치합니다! ");
	}else{
	alert(" 인증번호가 일치하지 않습니다!");
	}
};
</script>
</body>
</html>

