
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>UserUpdate</title>
<link rel="stylesheet" href="/resources/css/userupdateform.css" type="text/css">

</head>
<body>
	<div class="header">
		<div class="header-category">
			<a href="/course" id="label-left-course">코스추천</a>
			 <a href="/community" id="label-left-community">커뮤니티</a> 
			 <a href="/chat" id="label-left-chat">채팅방</a>
			<a href="/"><img src="/resources/image/logo.png" alt="" id="logimg"></a>
			<!-- 로그인전 --> 
				<div th:if="${session.login == null}">
					<a href="/login" id="label-right-login">로그인</a> 
					<a href="/login/registerform" id="label-right-login">회원가입</a>
				</div>
				<!-- 로그인 후 -->
				<div th:if="${session.login != null}" >
					<a href="/login/logout" id="label-right-login">로그아웃</a>
					<a href="/login/usermain" id="label-right-register">마이페이지</a>
				</div> 
		</div>
	</div>
	<div class="signup1">
		<div class="signup2">
			<div class="signup_header">
				<div id="signin">회원정보 수정</div>
				
			</div>
			<div class="signup_body">
				<form method="post">
					
                    <div class="loginForm">비밀번호<br>
                        <input type="text"	id="userPw" name="userPw" >
					</div>
                    <div class="loginForm">비밀번호 확인<br>
                        <input type="text"	id="userPwcheck" name="userPwcheck" >
					</div>
                    <!-- <div class="loginForm">이메일<br>
                        <input type="text"	id="userEmail" name="userEmail" >
					</div>
 					-->
                    <button id="updateButton" type="submit" formaction="login/userupdate">회원정보 변경</button>
					<button id="deleteButton" type="submit" formaction="login/userdelete">회원탈퇴</button>

				</form>
			</div>
		</div>
	</div>
	
</body>
</html>

