<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>UserUpdate</title>
<link rel="stylesheet" href="/resources/css/userupdateform.css" type="text/css">
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
   <script th:inline="javascript">
   function pass_check() {
	   var userPW = document.getElementById("userPW");
	   /*var userPW2 = document.getElementById("userPW2");*/
	   var userpwvalue = document.getElementById("userPW").value;
	   /*var userpw2value = document.getElementById("userPW2").value; */
	   
	   var userID = [[${userinfo.userID}]];
	   
	   if (userPW.value == "") {
		    alert("비밀번호를 입력하세요.");
		    userPW.focus();
		    return false;
		  };

		  //비밀번호 영문자+숫자+특수조합(8~16자리 입력) 정규식
		  var pwdCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}$/;

		  if (!pwdCheck.test(userPW.value)) {
		    alert("비밀번호는 영문자+숫자+특수문자 조합으로 8~16자리 사용해야 합니다.");
		    userPW.focus();
		    return false;
		  };

		  if (userPW2.value !== userPW.value) {
		    alert("비밀번호가 일치하지 않습니다..");
		    userPW2.focus();
		    return false;
		  };
		  
		  // 잠깐중지 값 가져오는거 질문.
		  $.ajax({
	          url : "/login/userupdate",
	          type : "post",
	          data : { userPW : userpwvalue,
	                 userID : userID}
	       })
	       		.done(function (result) {
	                  alert(result+"님의 비밀번호 수정이 완료되었습니다.");
	                	  location.href="/login/usermain";
	            })
	            .fail(function(jqXHR) {
	                alert("재로그인 후 다시 시도해주세요.");
	            })
   }
   function userDelete(){
	   var userID = [[${userinfo.userID}]];
	   var result = confirm("탈퇴하시겠습니까?");
	   if (result == true){
	   $.ajax({
	          url : "/login/userdelete",
	          type : "post",
	          data : {userID : userID}
	       })
	       		.done(function (result) {
	                alert(result);
	                location.href="/login/logout";
	            })
	            .fail(function(jqXHR) {
	            })
	   }else{
		   false;
	   }
   }
   </script>
</head>
<body>
	<div class="header">
		<div class="header-category">
			<div class="header-left">
				<a href="/plan" id="label-left-plan">일정 만들기</a>
				<a href="/course/recommandcourse" id="label-left-course">코스추천</a>
				<a href="/community/communitymain" id="label-left-community">커뮤니티</a> 
				<a href="/chatting" id="label-left-chat">동행구하기</a>
			</div>
			<div class="header-center">
			<a href="/"><img src="/resources/image/logo.png" alt="" id="logimg"></a>
			</div>
			<!-- 로그인전 --> 
			<div class ="header-right" th:if="${session.login == null}">
				<a href="/login" id="label-right-login">로그인</a> 
				<a href="/login/registerform" id="label-right-login">회원가입</a>
			</div>
			<!-- 로그인 후 -->
			<div class ="header-right" th:if="${session.login != null}" >
				<a href="/login/logout" id="label-right-login">로그아웃</a>
				<a href="/login/usermain" id="label-right-register">마이페이지</a>
			</div> 
		</div>
	</div>
	<div class="signup1">
		<div class="signup2">
			<div class="signup_header">
				<div id="signin">회원정보 수정</div>
				
			</div>
			<div class="signup_body">
					<div class="body">
						<div class="fixed">이름</div>
						<div class="info">
							[[${userinfo.userName}]]
						</div>
					</div>
					<div class="body">
						<div class="fixed">생년월일</div>
						<div class="info">
							[[${userinfo.userBirth}]]
						</div>
					</div>
					<div class="body">
						<div class="fixed">성별</div>
						<div class="info">
							<!-- <input type="text" id="userGender" th:value="${userinfo.getUserGender()}"> -->
							<div class="gender" th:if="${userinfo.userGender} == 'M'">
							남자
							</div>
							<div class="gender" th:if="${userinfo.userGender} == 'F'">
							여자
							</div>
						</div>
					</div>
					<div class="body">
						<div class="fixed">아이디</div>
						<div class="info">
							[[${userinfo.userID}]]
						</div>
					</div>
					<div class="body">
						<div class="fixed">비밀번호</div>
						<div class="info">
							<div class="loginForm">새 비밀번호<br>
	                        	<input type="password"	id="userPW" name="userPW" >
							</div>
							<div class="loginForm">비밀번호 재입력<br>
                        		<input type="password"	id="userPW2" name="userPW2" >
							</div>
							<button id="updateButton" type="submit" th:onclick="pass_check();">비밀번호 변경</button>
						</div>
					</div>
					<div class="body">
						<div class="fixed" id="fixed1">이메일</div>
						<div class="info" id="info1">
							[[${userinfo.userEmail}]]
						</div>
					</div>
                    <div class="body1">
						<button id="deleteButton" type="submit" th:onclick="userDelete();">회원탈퇴</button>
					</div>
			</div>
		</div>
	</div>
	
</body>
</html>

